<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">
<head>
<script>

    var message = {
        required: {
            curPwd: '현재 비밀번호를 입력해주세요.',
            userPwd: '비밀번호를 입력해주세요.',
            pwd2: '비밀번호 확인을 입력해주세요.'
        }
    }

    $(function(){
        $(document).on("click", "#btnSave", function(){
            var data = {
                userPwd: $("input[name=curPwd]").val(),
                newUserPwd: $("input[name=newUserPwd]").val()
            }

            var valid = tmsValidation.validInputChk('#frm', message);

            if(valid){
                if($("input[name=newUserPwd]").val() != $("#pwd2").val()){
                    alert("비밀번호 확인이 일치하지 않습니다");
                    return false;
                }
            } else {

                return false;
            }

            tms.ajaxPostHelper("/membership/change/pwd", JSON.stringify(data), null, function(result){
                if(result.code === 0){
                    alert("변경되었습니다");
                    tms.initInputTxt("#frm");
                } else if(result.code === 207){
                    alert("비밀번호는 영문,숫자,특수문자 조합 8이상 입력해주세요");
                } else if(result.code === 217){
                    alert("현재 비밀번호가 일치하지 않습니다.");
                }
            });
        });
    });


</script>
</head>

<body>
<!-- content -->
<div class="content" style="height: 798px;" layout:fragment="contents">
    <form id="frm" name="frm" method="post">
        <table class="table writeTable">
            <caption>비밀번호 변경</caption>
            <tbody>
            <tr>
                <th>현재 비밀번호<span class="required">*</span></th>
                <td>
                    <div>
                        <input type="password" class="fullWidth" name="curPwd" data-required="curPwd">
                    </div>
                </td>
            </tr>
            <tr>
                <th>비밀번호<span class="required">*</span></th>
                <td>
                    <div>
                        <input type="password" id="pwd" class="fullWidth" name="newUserPwd" data-required="userPwd">
                    </div>
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인 <span class="required">*</span></th>
                <td>
                    <div>
                        <input type="password" class="fullWidth" id="pwd2" data-required="pwd2">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <!-- btnList -->
    <div class="btnList clearfix">
        <button class="btn mainBtn" id="btnSave">저장</button>
        <button class="btn blackBtn">취소</button>
    </div>
    <!-- //btnList -->
</div>
<!-- //content -->
</body>
