<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="shortcut icon" href="/front/images/common/favicon.ico"/>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/admin/css/style.css" crossorigin="anonymous">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->

    <script th:src="@{/tds/js/tms.util.js}"></script>
    <script th:src="@{/admin/js/jquery-ui-timepicker-addon.js}"></script>


    <script th:src="@{/admin/js/moment.js}"></script>
    <script th:src="@{/admin/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/admin/js/moment-timezone-with-data.js}"></script>
    <script th:src="@{/admin/js/common.js}"></script>

    <script th:src="@{/tds/js/tms.validation.js}"></script>
    <script th:src="@{/admin/js/tms.inputForm.js}"></script>
    <script th:src="@{/admin/js/excelexportjs.js}"></script>
    <script th:src="@{/admin/js/tms.tables.js}"></script>
    <script th:src="@{/admin/js/lodash.js}"></script>

    <script th:src="@{/admin/js/ui.js}"></script>
    <script th:src="@{/admin/js/page/login.js}"></script>

</head>
<body>
    <div class="login">
        <div class="container">
            <h1>환아지원 프로젝트 관리자</h1>
            <fieldset>
                <div>
                    <label for="userId">아이디</label>
                    <span>
                        <input type="text" id="userId" name="userId" data-required="userId" class="dev_check_enter" placeholder="ID 입력" autofocus="">
                    </span>
                </div>
                <div>
                    <label for="userPwd">비밀번호</label>
                    <span>
                        <input type="password" id="userPwd" autocomplete="off" name="userPwd" data-required="userPwd" class="dev_check_enter" placeholder="비밀번호 입력" required="">
                    </span>
                </div>
            </fieldset>

            <div class="btnList">
                <button type="button" class="btn mainBtn" id="btnLogin">로그인</button>
            </div>
        </div>
    </div>
</body>
<!--<a href="/page/tds/membership/find" class="btn_help" style="right:64px;">비밀번호 찾기</a>-->
</html>