<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">\
<head>
    <script th:src="@{/admin/js/page/bannerR.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <form id="frm" name="frm">
        <table class="table writeTable">
            <caption>최상단 배너 등록</caption>
            <tbody>
                <tr>
                    <th>배너 명<span class="required">*</span></th>
                    <td>
                        <div>
                            <input type="text" id="bannerNm" name="bannerNm" maxlength="100" class="middle fullWidth" data-required="bannerNm" data-mapping="bannerNm">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>배너 타입<span class="required">*</span></th>
                    <td>
                        <div>
                            <select name="bannerType" data-required="bannerType" data-mapping="bannerType"></select>
                        </div>
                    </td>
                </tr>

                <tr class="showTerm">
                    <th>노출기간<span class="required">*</span></th>
                    <td>
                        <div>
                            <label>
                                <input type="text" name="viewStDt" maxlength="16" class="dt" style="width:150px;" readonly data-required="viewDt" data-mapping="viewStDt">
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </label>
                        </div>
                        <div class="divn"><p>~</p></div>
                        <div>
                            <label>
                                <input type="text" name="viewEndDt" maxlength="16" class="dt" style="width:150px;" readonly data-required="viewDt" data-mapping="viewEndDt">
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </label>
                        </div>

                        <input type="checkbox"  id="chk" name="viewUnlimitYn" value="Y" data-mapping="viewUnlimitYn"> <label for="chk">무제한</label>
                    </td>
                </tr>

                <tr class="type1 type2 control">
                    <th>링크</th>
                    <td>
                        <input type="text" class="fullWidth" name="targetUrl" maxlength="200" style="width: 80%" data-mapping="targetUrl">
                    </td>
                </tr>

                <tr class="type3 control">
                    <th>동영상 코드 <span class="required">*</span></th>
                    <td>
                        <input type="text" class="fullWidth" maxlength="30" name="videoUrl" data-mapping="videoUrl" />
                        ex.) https://youtu.be/<strong>동영상 코드</strong>
                    </td>
                </tr>

                <tr class="devCssDivTypeImage devCssDivTypes type1 type2 control" style="">
                    <th>파일 업로드 <span class="required">*</span></th>
                    <td id="pictureList">
                        <input type="file" id="devIdTxtImg" accept="image/*" data-required="img" > (1920*900)
                    </td>
                </tr>

                <tr class="type1 type3 control">
                    <th>상단문구</th>
                    <td>
                        <input type="text" class="fullWidth" name="topText" maxlength="20" value="" data-mapping="topText">
                    </td>
                </tr>
                <tr class="type1 type3 control">
                    <th>제목</th>
                    <td>
                        <textarea class="fullWidth" name="title" maxlength="36" value="" data-mapping="title"></textarea>
                    </td>
                </tr>
                <tr class="type1 type3 control">
                    <th>내용</th>
                    <td>
                        <textarea class="fullWidth" name="contents" maxlength="200" value="" data-mapping="contents"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- btnList -->
        <div class="btnList">
            <button type="button" class="btn grayBtn devCssBtnDel floatLeft">삭제</button>
            <button type="button" class="btn blackBtn devCssBtnCancel floatRight" style="margin-left: 5px">취소</button>
            <button type="button" id="btnSave" class="btn mainBtn floatRight">저장</button>
        </div>
        <!-- //btnList -->
    </form>
</div>
</body>
</html>