.list .searchBox > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 1
}
.list .searchBox select {
    width: 100px;
}
.list .searchBox label > * {
    display: inline-block;
    vertical-align: middle;
}
.list .searchBox input {
    width: 242px;
    height: 27px;
    line-height: 27px;
    margin-top: 0;
    padding: 5px;
}
.list .searchBox .btn {
    height: 27px;
    line-height: 1;
    margin-left: -5px;
}
.list td {
    font-size: 13px;
    text-align: center;
}
.list .table .bannerOrder {
    font-size: 13px;
    text-align: center;
    width: 30px;
    height: 30px;
}
.list .table .grayBtn {
    font-size: 12px;
    display: inline-block;
    width: 70px;
    height: 27px;
    line-height: 1;
    box-sizing: border-box;
}