<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragement">
	<div id="footer">
		<div class="footer_inner">
			<p class="txt_01">삼성생명 환아 의료비 지원 프로젝트</p>
			<p class="txt_02">유선문의 070-4219-6881 (월~금 | 09:00~18:00) <span class="m_hide">|</span> <span>메일문의 samsunglife@childfund.or.kr </span><br/>
				Copyrightⓒ 삼성생명 의료비 지원 All rights reserved.</p>
			<div class="logo">
				<span><img src="/front/images/common/footer_logo_01.png" alt="삼성생명" /></span>
				<span><img src="/front/images/common/footer_logo_02.png" alt="초록우산 어린이재단" /></span>
			</div>
			<a href="#self" class="btn_privacy">개인정보처리방침</a>
		</div><!-- class : footer_inner -->
	</div><!-- id : footer -->
</div>