<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">

    <meta name="keywords" content="관리자 | 넥슨재단">
    <meta name="description" content="관리자 | 넥슨재단">

    <title>관리자 | 넥슨재단</title>
    <th:block th:include="/admin/layout/static :: staticFragement"></th:block>
</head>
<body>

<!-- START HEADER -->
<th:block th:include="/admin/layout/header :: headerFragement"></th:block><!-- id : header -->
<!-- END HEADER -->

<div class="main">
    <div class="container">
        <!-- START SIDEBAR -->
        <th:block th:include="/admin/layout/lnb :: lnbFragement"></th:block><!-- id : lnb -->
        <!-- END SIDEBAR -->

        <div layout:fragment="contents"></div>

    </div>
</div>

<div id="wrap">


    <!-- START CONTAINER -->
    <div id="container" class="container">


        <!-- START CONTENT -->
        <div class="content">

        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->

</div>

</body>
</html>