<!-- START SIDEBAR -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="lnbFragement">
	<!-- leftSide left -->
	<div class="leftSide">
		<!-- snb -->
		<div class="snb">
			<!--<h2>메인관리</h2>
			<ul class="bigMenu">

				<li class="on">
					<a href="javascript:;">
						<span>메인관리</span>
						<span class="icon">
                        <i class="fas fa-sort-down"></i>
                    </span>
					</a>
					<ul class="midMenu" style="display: block;">
						<li>
							<a href="/page/mappers.adbannerTnner/list" class="">
								- 배너 관리                        </a>
						</li>
						<li>
							<a href="/page/mappers.admin/mainpopup/list" class="on">
								- 메인 팝업 관리                        </a>
						</li>
					</ul>
				</li>

			</ul>-->
		</div>
		<!-- //snb -->
	</div>
	<!-- // leftSide left -->
</div>
<!-- END SIDEBAR -->