<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragement">
	<footer id="footer">
		<div class="footer_inner">
			<div class="f_logo"><span class="blind">넥슨재단</span></div>
			<p class="address">서울특별시 강남구 도산대로 313, 313빌딩 6층 (신사동 630-31)</p>
			<p class="copyright">© 2019 NEXON CORPORATION ALL RIGHTS RESERVED.</p>
			<div class="contact">
				<p>nexon@nexonfoundation.org</p>
				<p>02-512-1994</p>
			</div>
			<div class="select">
				<select onchange="familySite(this.value)">
					<option value="" selected="selected">Family Site</option>
					<option value="1">넥슨기업홈페이지</option>
					<option value="2">넥슨청소년프로그래밍챌린지</option>
					<option value="3">넥슨작은책방</option>
					<option value="4">넥슨컴퓨터박물관</option>
					<option value="5">넥슨개발자컨퍼런스</option>
				</select>
			</div>
			<script>
				function familySite(no) {
				    var path = '';
					if(no=='1'){path = 'http://company.nexon.com/';}
                    if(no=='2'){path = 'https://www.nypc.co.kr/main/main.do';}
                    if(no=='3'){path = 'https://nexonlibrary.com/';}
                    if(no=='4'){path = 'http://www.nexoncomputermuseum.org/';}
                    if(no=='5'){path = 'https://ndc.nexon.com/main';}
                    window.open(path, '_blank');
                }
			</script>
		</div><!-- class : footer_inner -->
	</footer><!-- id : footer -->
</div>