<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/layout/static :: staticFragement"></th:block>
</head>
<body>

<div id="wrap">

    <th:block th:include="/layout/header :: headerFragement"></th:block><!-- id : header -->

    <div layout:fragment="contents"></div>

    <th:block th:include="/layout/footer :: footerFragement"></th:block><!-- id : footer -->

</div><!-- id : wrap -->

<th:block th:include="/layout/popup :: popupFragement"></th:block><!-- id : footer -->



</body>
</html>