<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="popupFragement">
<div class="popup_all" style="display: none;">
    <!-- 메인팝업 -->
    <div class="popup_main">
        <div class="in_box">
            <!-- <div class="popup_main_01" style="display:none; filter: alpha(opacity=0); opacity:0;"> -->
            <!--<div class="popup_main_01">
                <div class="out_layer_box">
                    <div class="in_layer_box">
                        <div class="img"><img src="https://placeimg.com/400/440/any" /></div>
                        <div class="close_box">
                            <label for="CHK_01" class="chk"><input type="checkbox" id="CHK_01" name="CHK_01" /> 오늘 하루 다시 보지 않기</label>
                            <a href="#self" class="btn_close_02" onclick="layer_CLOSE('.popup_main_01');"><span class="blind">닫기</span></a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- //메인팝업 -->
</div><!-- class : popup_all -->
</div>