<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">
<div class="content" layout:fragment="contents">
    <form id="userForm" >
        <input type="hidden" id="devIdHdnSEQ" value="">

        <table class="table writeTable">
            <caption>공지사항 관리</caption>
            <tbody>
            <!--<tr>
                <th>디바이스 타입<span class="required">*</span></th>
                <td>
                    <select id="devIdSelDeviceType">
                        <option value="P">PC</option>
                        <option value="M">모바일</option>
                        <option value="A">전체</option>
                    </select>
                </td>
            </tr>-->

            <tr>
                <th>글유형<span class="required">*</span></th>
                <td>
                    <input type="radio" id="devIdRdoIsNoticeType1" name="noticeType" value="003001" class="devCssRdoIsView" checked="checked">
                    <label for="devIdRdoIsNoticeType1">일반 글</label>

                    <input type="radio" id="devIdRdoIsNoticeType2" name="noticeType" value="003002" class="devCssRdoIsView">
                    <label for="devIdRdoIsNoticeType2">공지사항</label>
                </td>
            </tr>

            <tr>
                <th>제목<span class="required">*</span></th>
                <td>
                    <input type="text" class="fullWidth" id="devIdTxtTitle" name="Title" maxlength="100" value="">
                </td>
            </tr>
            <tr>
                <th>중요여부<span class="required">*</span></th>
                <td>
                    <input type="radio" id="important_yn1" name="importantYn" value="Y" class="devCssRdoIsView" checked="checked">
                    <label for="important_yn1">중요</label>

                    <input type="radio" id="important_yn2" name="importantYn" value="N" class="devCssRdoIsView">
                    <label for="important_yn2">중요하지 않음</label>
                </td>
            </tr>
            <!--<tr>
                <th>상단보기<span class="required">*</span></th>
                <td>
                    <input type="radio" id="devIdRdoIsTop1" name="IsTop" value="1" class="devCssRdoIsTop">
                    <label for="devIdRdoIsTop1">상단</label>

                    <input type="radio" id="devIdRdoIsTop2" name="IsTop" value="0" class="devCssRdoIsTop" checked="">
                    <label for="devIdRdoIsTop2">일반</label>
                </td>
            </tr>-->
            <tr>
                <th>노출여부<span class="required">*</span></th>
                <td>
                    <input type="radio" id="devIdRdoIsView1" name="viewYn" value="Y" class="devCssRdoIsView">
                    <label for="devIdRdoIsView1">노출</label>

                    <input type="radio" id="devIdRdoIsView2" name="viewYn" value="N" class="devCssRdoIsView" checked="checked">
                    <label for="devIdRdoIsView2">비노출</label>
                </td>
            </tr>

            <tr class="showTerm">
                <th>노출기간<span class="required">*</span></th>
                <td>
                    <div>
                        <label>
                            <input type="tel" id="devIdTxtSdt" name="Edt" maxlength="16" class="dt" style="width:150px;">
                            <span class="icon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </label>
                    </div>
                    <div class="div">
                        <p>~</p>
                    </div>
                    <div>
                        <label>
                            <input type="tel" id="devIdTxtEdt" name="Edt" maxlength="16" class="dt" style="width:150px;">
                            <span class="icon">
										<i class="far fa-calendar-alt"></i>
									</span>
                        </label>
                    </div>
                    <div class="limitChk pl30">
                        <input type="checkbox" id="unLimit" name="unLimit">
                        <label for="unLimit">무제한</label>
                    </div>
                </td>
            </tr>

            <tr>
                <th>첨부파일</th>
                <td>
                    <input type="file" id="devIdTxtAttach" name="Attach" value="" accept="image/*">
                </td>
            </tr>


            <tr class="contentRow">
                <th>내용<span class="required">*</span></th>
                <td>
                    <div id="summernote"></div>
                </td>
            </tr>

            </tbody>
        </table>

        <!-- btnList -->
        <div id="btnList" class="btnList clearfix">
            <button type="button" id="btnSave" class="btn mainBtn">저장</button>
            <button type="button" class="btn blackBtn devCssBtnCancel">취소</button>
        </div>
        <!-- //btnList -->

    </form>

    <!-- summernote 관련 JS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <script>
        /* 서머노트 초기화 함수 */
        var setSummernote = function(){
            $('#summernote').summernote({
                minHeight:300,
                placeholder: '',
                callbacks: {
                    onImageUpload: function(files, editor, welEditable) {
                        sendFile(files, this, welEditable); //에디터 이미지 업로드 처리
                    }
                }
            });
        }

        $('#devIdTxtAttach').change(function (e) {
            fileCheck(e.target);
        });

        $('.devCssBtnCancel').click(function(){
            location.href='/page/admin/notice/list';
        });


        $("#btnSave").click(function(){

            var data = new FormData();

            if(tms.isEmpty($('#devIdTxtTitle').val())){
                alert('제목을 입력해 주세요.');
                return;
            }

            var isEmpty = $('#summernote').summernote('isEmpty');
            if(isEmpty){
                alert('내용을 입력해 주세요.');
                return;
            }
            var chk = $("input:checkbox[id='unLimit']").is(":checked");
            var isA = 'N';
            if(chk){
                isA='Y';
            }else{
                if(tms.isEmpty($('#devIdTxtSdt').val())){
                    alert('예약일을 입력해 주세요.');
                    return;
                }
                if(tms.isEmpty($('#devIdTxtEdt').val())){
                    alert('예약일을 입력해 주세요.');
                    return;
                }
            }

            var stDt = $(".dt").eq(0).val();
            var endDt = $(".dt").eq(1).val();
            if(tms.isNotEmpty(stDt) && tms.isNotEmpty(endDt)){
                stDt = stDt.replace(/\-|\s|\:/g,'');
                endDt = endDt.replace(/\-|\s|\:/g,'');

                if(stDt > endDt){
                    alert("시작일은 작성일보다 이전일 수 없습니다.");
                    return;
                }
            }

            /* 이미지 삭제 */
            var editorDelImg = editorImg.slice();

            var contents = $('#summernote').summernote('code'); //에디터 내용 가져오기
            var tempDiv = document.createElement('div');
            tempDiv.innerHTML = contents;
            $.each($(tempDiv).find("img[data-filename]"), function(index, value) { //삭제된 이미지 비교 처리
                var nm = $(value).data("filename");
                var arrayIdx = editorDelImg.indexOf(nm);
                if(arrayIdx != -1){
                    editorDelImg.splice(arrayIdx,1);
                }
            });

            data.append("contents", contents );
            data.append("title", $('#devIdTxtTitle').val() );
            data.append("viewYn", $(":input:radio[name=viewYn]:checked").val() );
            data.append("importantYn", $(":input:radio[name=importantYn]:checked").val() );
            data.append("noticeType", $(":input:radio[name=noticeType]:checked").val());
            data.append("viewUnlimitYn", isA );
            data.append("editorDelImg", editorDelImg);


            var sdt = $('#devIdTxtSdt').val();
            var edt = $('#devIdTxtEdt').val();
            if(tms.isNotEmpty( sdt )){ data.append("viewStDt", sdt ); }
            if(tms.isNotEmpty( edt )){ data.append("viewEndDt", edt ); }

            var f1 = $('#devIdTxtAttach')[0].files[0];
            if(f1 != null && f1 != ''){
                if(!tms.checkFileExtensionImage(f1.name)) {
                    alert("이미지 파일만 업로드 가능합니다.");
                    return;
                }
                data.append("file", f1 );
            }

            var url = "/mapi/notice";
            var getParams = new URLSearchParams(location.search);
            var info = getParams.get("info");

            if(tms.isNotEmpty(info)){
                url = "/mapi/notice/edit";
                data.append("seq", info );
            }

            if(tms.isNotEmpty($('#devIdFileSeq').val())){
                data.append("attachSeq", $('#devIdFileSeq').val() );
            }

            if(!confirm("저장하시겠습니까?")) {
                return;
            }

            tms.ajaxMulitpartHelper(url, data, null, function(result){
                if(result.code == 0){
                    tms.initInputTxt('#inputFrm');
                    alert("저장되었습니다");
                    location.href = "/page/admin/notice/list"
                } else if(result.code == 350) {
                    alert("최대 2개 중요게시글 노출을 초과하였습니다.");
                } else {
                    alert("저장중 에러가 발생하였습니다");
                }
            }, function(){
                alert("저장중 에러 발생");
            });
        });

        var editorImg = new Array();
        function sendFile(files, editor, welEditable) {
            var data = new FormData();
            for (var i = files.length - 1; i >= 0; i--) {
                data.append('file', files[i]);
            }

            data.append('category', 3 );

            tms.ajaxMulitpartHelper("/api/file/editor/imgs", data, null, function(result){
                if(tms.isNotEmpty(result.data.fileInfos)){
                    for(var i=0; i< result.data.fileInfos.length;i++){
                        var fileName = result.data.fileInfos[i].fileSysName;
                        editorImg.push(fileName);
                        $(editor).summernote('insertImage', result.data.fileInfos[i].fileUrl, fileName);
                    }
                }
            }, function(){ //실패 처리

            });
        }

        function detail(info){

            var params = { seq:info };

            tms.ajaxGetHelper('/mapi/notice/detail', params, null, function(rs) {
console.log(rs);
                if(rs.code==0){
                    var d = rs.data;

                    $('#devIdTxtTitle').val(tms.convertHtml(d.title));

                    $('input:radio[name=viewYn]:input[value=' + d.viewYn + ']').attr("checked", true);
                    $('input:radio[name=importantYn]:input[value=' + d.importantYn + ']').attr("checked", true);
                    if(tms.isNotEmpty(d.noticeType)) {
                        $('input:radio[name=noticeType]:input[value=' + d.noticeType + ']').attr("checked", true);
                    }

                    if(d.viewUnlimitYn=='Y'){
                        $('input:checkbox[id="unLimit"]').attr("checked", true);
                    }
                    $('#devIdTxtSdt').val(d.viewStDt);
                    $('#devIdTxtEdt').val(d.viewEndDt);

                    $('#thumbnailSeq').val(d.thumbnailSeq);
                    $('#attachSeq').val(d.attachSeq);

                    if(d.flist!=null){
                        var fl =d.flist;
                        for(var i in fl){
                            $('#devIdTxtAttach').after('<br>' +
                                '<input type="hidden" id="devIdFileSeq" value="'+fl[i].fileSeq+'"/>'+
                                '<a href="/api/file/download?fileSeq='+fl[i].fileSeq+'&category=3">'+fl[i].orgFileNm+'</a>');
                        }
                    }

                    $('#summernote').summernote('code', d.contents );
                }
            }, function(){

            });

        }

        $(document).ready(function () {

            $("#unLimit").change(function() {
                var chk = $("input:checkbox[id='unLimit']").is(":checked");
                if(chk) {
                    $("#devIdTxtSdt").val("");
                    $("#devIdTxtEdt").val("");
                    $("#devIdTxtSdt").attr("disabled", true);
                    $("#devIdTxtEdt").attr("disabled", true);
                } else {
                    $("#devIdTxtSdt").attr("disabled", false);
                    $("#devIdTxtEdt").attr("disabled", false);
                }
            });

            $('#devIdTxtSdt,#devIdTxtEdt').datetimepicker({
                dateFormat: "yy-mm-dd"
                ,onClose: function() {
                    $('.note-toolbar').css({'zIndex':500});
                }
                ,beforeShow:function () {
                    $('.note-toolbar').css({'zIndex':0});
                }
            });

            var getParams = new URLSearchParams(location.search);
            var info = getParams.get("info");

            if(info!=null&&info!=''){
                detail(info);

                $('#btnList').append('<button type="button" class="btn grayBtn deleteBtn">삭제</button>');
                $('#btnList .deleteBtn').click(function(e){
                    e.preventDefault();
                    if(confirm('삭제하시겠습니까?')){
                        var getParams = new URLSearchParams(location.search);
                        var info = getParams.get("info");
                        var data ={};
                        if(tms.isEmpty(info)){return ;}
                        data.seq=info;

                        tms.ajaxDeleteHelper('/mapi/notice', JSON.stringify(data), null, function(rs){
                            if(rs.code==0){
                                alert('삭제되었습니다.');
                                location.href='/page/admin/notice/list';
                            }
                        });

                    }

                });

            }

        });

        setSummernote();

    </script>
</div>
</html>