<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">
<div class="content" layout:fragment="contents">
    <form id="userForm" >

        <table class="table writeTable">
            <caption>공지사항 관리</caption>
            <tbody>
            <!--<tr>
                <th>디바이스 타입<span class="required">*</span></th>
                <td>
                    <select id="devIdSelDeviceType">
                        <option value="P">PC</option>
                        <option value="M">모바일</option>
                        <option value="A">전체</option>
                    </select>
                </td>
            </tr>-->

            <!--<tr>
                <th>글유형<span class="required">*</span></th>
                <td>
                    <input type="radio" id="devIdRdoIsNoticeType1" name="noticeType" value="003001" class="devCssRdoIsView" checked="checked">
                    <label for="devIdRdoIsNoticeType1">일반 글</label>

                    <input type="radio" id="devIdRdoIsNoticeType2" name="noticeType" value="003002" class="devCssRdoIsView">
                    <label for="devIdRdoIsNoticeType2">공지사항</label>
                </td>
            </tr>-->

            <tr>
                <th>제목<span class="required">*</span></th>
                <td>
                    <input type="text" class="fullWidth" id="devIdTxtTitle" name="Title" maxlength="100" placeholder="2글자에서 100글자까지 입력 가능합니다. 문자 제한 없습니다.">
                </td>
            </tr>

            <tr>
                <th>노출여부<span class="required">*</span></th>
                <td>
                    <input type="radio" id="devIdRdoIsView1" name="viewYn" value="Y" class="devCssRdoIsView">
                    <label for="devIdRdoIsView1">노출</label>

                    <input type="radio" id="devIdRdoIsView2" name="viewYn" value="N" class="devCssRdoIsView" checked="checked">
                    <label for="devIdRdoIsView2">비노출</label>
                </td>
            </tr>

            <tr class="showTerm">
                <th>노출일자<span class="required">*</span></th>
                <td>
                    <div>
                        <label>
                            <input type="tel" id="devIdTxtSdt" name="Edt" maxlength="16" class="dt" style="width:150px;">
                            <span class="icon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </label>
                    </div>

                </td>
            </tr>

            <tr>
                <th>대표이미지<span class="required">*</span></th>
                <td id="repImg">
                    <input type="hidden" id="imgSeq">
                    <input type="file" id="devIdTxtImg">
                </td>
            </tr>

            <tr>
                <th>파일첨부</th>
                <td id="attach">
                    <input type="hidden" id="attachSeq">
                    <input type="file" id="devIdTxtAttach">
                </td>
            </tr>

            <tr class="contentRow">
                <th>내용<span class="required">*</span></th>
                <td>
                    <div id="summernote"></div>
                </td>
            </tr>

            </tbody>
        </table>

        <!-- btnList -->
        <div id="btnList" class="btnList clearfix">
            <button type="button" id="btnSave" class="btn mainBtn">저장</button>
            <button type="button" class="btn blackBtn devCssBtnCancel">취소</button>
        </div>
        <!-- //btnList -->

    </form>

    <!-- summernote 관련 JS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <script>
        /* 서머노트 초기화 함수 */
        var setSummernote = function(){
            $('#summernote').summernote({
                minHeight:300,
                placeholder: '텍스트 입력 가능하며, 문자 제한 없습니다.\n' +
                '글자수 제한 없습니다.\n',
                callbacks: {
                    onImageUpload: function(files, editor, welEditable) {
                        sendFile(files, this, welEditable); //에디터 이미지 업로드 처리
                    }
                }
            });
        }

        $('#devIdTxtAttach').change(function (e) {
            fileCheck(e.target);
        });

        $('#devIdTxtImg').change(function (e) {
            var et = e.target;

            fileCheck(e.target,'onlyImg');
            var fr = new FileReader;
            fr.onload = function() {
                var img = new Image;
                img.onload = function() {
                    var w = img.width;
                    var h = img.height;
                    if(w!=315&&h!=267){
                        alert('315x267 사이즈로 올려주세요.');
                        $(et).val('');
                    }
                };
                img.src = fr.result;
            };

            if(et.files.length>0)
                fr.readAsDataURL(et.files[0]);
        });

        $('.devCssBtnCancel').click(function(){
            location.href='/page/admin/notice/list';
        });

        $("#btnSave").click(function(){

            var data = new FormData();

            var stat = 'insert';
            var url = "/mapi/notice";
            var info = tms.getParameterByName("info");
            if(tms.isNotEmpty(info)){
                stat = 'update';
                url = "/mapi/notice/edit";
                data.append("seq", info );

                if( $('#repImg .file').length==0 ){
                    var file = $('#devIdTxtImg')[0].files[0];
                    if(file==null || file==''){
                        alert('대표이미지를 등록해 주세요.');
                        return false;
                    }
                }

            }

            var vi = [
                {id:'#devIdTxtTitle',rqd:true,msg:'게시물 제목을 작성하여 주세요.',min:2,max:100}
                ,{id:'#devIdTxtSdt',rqd:true,msg:'노출일자를 설정해 주세요.'}
                ,{id:'#devIdTxtImg',rqd:true,msg:'대표이미지를 첨부해주세요.',type:'file',pass:'update'}
                ,{id:'#summernote',rqd:true,msg:'게시물 내용을 작성하여 주세요.',type:'summerNote'}
            ];

            var dr = door(vi,stat);
            if(!dr)
                return ;

            if(!confirm("해당 내용으로 저장하시겠습니까?")) {
                return;
            }

            /* 이미지 삭제 */
            var editorDelImg = editorImg.slice();
            var contents = $('#summernote').summernote('code'); //에디터 내용 가져오기
            var tempDiv = document.createElement('div');
            tempDiv.innerHTML = contents;
            $.each($(tempDiv).find("img[data-filename]"), function(index, value) { //삭제된 이미지 비교 처리
                var nm = $(value).data("filename");
                var arrayIdx = editorDelImg.indexOf(nm);
                if(arrayIdx != -1){
                    editorDelImg.splice(arrayIdx,1);
                }
            });

            data.append("title", $('#devIdTxtTitle').val() );
            data.append("contents", contents );
            data.append("viewYn", $(":input:radio[name=viewYn]:checked").val() );
            data.append("viewStDt", $('#devIdTxtSdt').val() );
            data.append("importantYn", 'N' );
            data.append("noticeType", '003002');
            data.append("viewUnlimitYn", 'N' );
            data.append("editorDelImg", editorDelImg);

            var f1 = $('#devIdTxtAttach')[0].files[0];
            if(f1 != null && f1 != ''){
                data.append("file", f1 );
            }

            var imgF = $('#devIdTxtImg')[0].files[0];
            if(imgF != null && imgF != ''){
                data.append("img", imgF );
            }

            if(tms.isNotEmpty($('#attachSeq').val())){
                data.append("attachSeq", $('#attachSeq').val() );
            }
            if(tms.isNotEmpty($('#imgSeq').val())){
                data.append("imgSeq", $('#imgSeq').val() );
            }

            tms.ajaxMulitpartHelper(url, data, null, function(result){
                if(result.code == 0){
                    tms.initInputTxt('#inputFrm');
                    alert("저장되었습니다");
                    location.href = "/page/admin/notice/list"
                } else if(result.code == 350) {
                    alert("최대 2개 중요게시글 노출을 초과하였습니다.");
                } else {
                    alert("저장중 에러가 발생하였습니다");
                }
            }, function(){
                alert("저장중 에러 발생");
            });
        });

        var editorImg = new Array();
        function sendFile(files, editor, welEditable) {
            var data = new FormData();
            for (var i = files.length - 1; i >= 0; i--) {
                data.append('file', files[i]);
            }

            data.append('category', 3 );

            tms.ajaxMulitpartHelper("/api/file/editor/imgs", data, null, function(result){
                if(tms.isNotEmpty(result.data.fileInfos)){
                    for(var i=0; i< result.data.fileInfos.length;i++){
                        var fileName = result.data.fileInfos[i].fileSysName;
                        editorImg.push(fileName);
                        $(editor).summernote('insertImage', result.data.fileInfos[i].fileUrl, fileName);
                    }
                }
            }, function(){ //실패 처리

            });
        }

        function detail(info){

            var params = { seq:info };

            tms.ajaxGetHelper('/mapi/notice/detail', params, null, function(rs) {

                if(rs.code==0){
                    var d = rs.data;

                    $('#devIdTxtTitle').val(tms.convertHtml(d.title));
                    $('input:radio[name=viewYn]:input[value='+d.viewYn+']').attr("checked",true);
                    $('#devIdTxtSdt').val(d.viewStDt);

                    if(d.flist!=null){
                        var fl =d.flist;
                        for(var i in fl){
                            $('#devIdTxtAttach').after(setFileDOM(fl[i],'attach'));
                            $('#attachSeq').val(fl[i].fileSeq);
                        }
                    }

                    if(d.ilist!=null){
                        var il =d.ilist;
                        for(var i in il){
                            $('#devIdTxtImg').after(setFileDOM(il[i],'img'));
                            $('#imgSeq').val(il[i].fileSeq);
                        }
                    }

                    $('#summernote').summernote('code', d.contents );
                }
            }, function(){

            });

        }

        function setFileDOM(fl,type) {
            return ''+
                '<div id="fileNo'+fl.fileSeq+'" class="file">' +
                    '<input type="hidden" class="fileSeq" value="'+fl.fileSeq+'"/>'+
                        '<a href="/api/file/download?fileSeq='+fl.fileSeq+'&category=3" style="margin-right: 30px;">'+fl.orgFileNm+'</a>' +
                        '<a onclick="deleteFile('+fl.fileSeq+',\''+type+'\')"><img src="/front/images/common/btn_close_01.png" style="height: 15px;vertical-align: middle;"></a>' +
                '</div>';
        }

        function deleteFile(no,type) {
            if(confirm('삭제하시겠습니까?')){
                var info = tms.getParameterByName("info");
                var params = {
                    type:type
                    , seq : info
                    ,fileSeq:no
                }

                tms.ajaxDeleteHelper('/mapi/notice/deleteFile', JSON.stringify(params), null, function(rs) {
                    if(rs.code==0){
                        alert('삭제되었습니다.');
                        $('#fileNo'+no).remove();
                        if( $('#repImg .file').length==0 ){$('#imgSeq').val('');}
                        if( $('#attach .file').length==0 ){$('#attachSeq').val('');}
                    }else{
                        alert('오류가 있습니다.')
                    }
                });
            }
        }

        $(document).ready(function () {

            $('#devIdTxtSdt').datetimepicker({
                dateFormat: "yy-mm-dd"
                ,onClose: function() {
                    $('.note-toolbar').css({'zIndex':500});
                }
                ,beforeShow:function () {
                    $('.note-toolbar').css({'zIndex':0});
                }
            });


            var info = tms.getParameterByName("info");

            if(info!=null&&info!=''){
                detail(info);

                $('#btnList').append('<button type="button" class="btn grayBtn deleteBtn">삭제</button>');
                $('#btnList .deleteBtn').click(function(e){
                    e.preventDefault();
                    if(confirm('삭제하시겠습니까?')){
                        var info = tms.getParameterByName("info");
                        var data ={};
                        if(tms.isEmpty(info)){return ;}
                        data.seq=info;

                        tms.ajaxDeleteHelper('/mapi/notice', JSON.stringify(data), null, function(rs){
                            if(rs.code==0){
                                alert('삭제되었습니다.');
                                location.href='/page/admin/notice/list';
                            }
                        });

                    }

                });

            }

        });

        setSummernote();

    </script>
</div>
</html>