<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout">
<head>
    <script th:src="@{/front/js/page/noticeDetail.js}"></script>
</head>
<body>
<div layout:fragment="contents">
    <div id="container">

        <section class="sub_visual notice">
            <div class="txt_box">
                <h2 class="tit">공지사항</h2>
                환아 의료비 지원의 다양한 소식을 전해드립니다.
            </div>
        </section>

        <section class="notice_view_wrap">
            <div class="inner_box">
                <div class="article_top">
                    <span class="title" data-mapping="title"><!--작은책방 110호점 개관식 현장을 소개합니다! --></span>
                    <span class="date" data-mapping="creDt"><!--2019.04.01--></span>
                </div>
                <div class="file_list">
                    <ul id="file_list">
                        <!--<li><a href="#self">첨부파일.JPG</a></li>
                        <li><a href="#self">첨부파일.JPG</a></li>
                        <li><a href="#self">첨부파일.JPG</a></li>-->
                    </ul>
                </div>
                <div class="article_contents" data-mapping="contents">
                </div>
                <div class="article_preview">
                    <div id="prevNotice">
                        <!--<span class="up">이전 글</span>
                        <a href="#self">5월 환아 선정의 건</a>-->
                    </div>
                    <div id="nextNotice">
                        <input type="checkbox"/>
                        <!--<span class="down">다음 글</span>
                        <a href="#self">5월 환아 선정의 건</a>-->
                    </div>
                </div>
                <div class="btn_area">
                    <a href="/page/notice/list">목록보기</a>
                </div>
            </div>
        </section>

    </div><!-- id : container -->
</div>
</body>
</html>