<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout">
<head>
    <!--<script th:src="@{/front/js/page/home.js}"></script>-->
</head>
<body>
<div layout:fragment="contents">
    <div id="container">

        <div class="sub_visual about">
            <div class="txt_box">
                <h2 class="tit">사업소개</h2>
            </div>
        </div>

        <div class="sub_about_01">
            <div class="inner_box">
                <div class="section_01">
                    <div class="tab_box">
                        <a href="/page/info/support" class="on">환아 의료비 지원</a>
                        <a href="/page/info/heart">하트펀드</a>
                    </div>
                </div>
                <div class="section_02">
                    <div class="in_box">
                        <img src="/front/images/sub/about_01_01.jpg" alt="" />
                        <div class="txt_box">
                            <h3 class="title">환아 의료비 지원</h3>
                            <p class="txt">초록우산 어린이재단과 함께하는 <br/>
                                환아 의료비 지원 프로젝트는 2019년부터<br/>
                                새롭게 시작한 사업으로 하트펀드 기부금 중<br/>
                                일부를 중증, 희귀질환 등 질병으로 인한<br/>
                                경제적 어려움을 겪고 있는 아동 및 가정에<br/>
                                의료비를 지원하는 사업입니다.</p>
                            <!--<a href="#self" class="btn_more"><span class="blind">더보기</span></a>-->
                        </div>
                    </div>
                </div>

                <div class="section_03">
                    <div class="in_box">
                        <h4 class="title"><span>FC</span><span>임직원</span>COMPANY가 <br/>나눔으로 만나다</h4>
                        <p class="txt_01">환아 의료비 지원을 위한 하트펀드 모금액 조성은 <br />1:1:1 비율로 진행되고 있습니다.</p>
                        <p class="txt_02"><span class="name">하트펀드란?</span><span class="txt">타의가 아닌 자발적으로 삼성생명 FC와 <br />임직원의 참여로 모인 기부금</span></p>
                        <ul class="list">
                            <li>
                                <div class="img"></div>
                                <div class="txt_box">
                                    <p class="t_01">삼성생명</p>
                                    <p class="t_02">FC</p>
                                    <p class="t_03">계약 시, 하트펀드 참여 항목에 동의<br/>
                                        하시면 건당 500원이 환아 의료비<br/>
                                        지원을 위한 하드펀드 기부금으로<br/>
                                        조성됩니다.</p>
                                </div>
                            </li>
                            <li>
                                <div class="img"></div>
                                <div class="txt_box">
                                    <p class="t_01">삼성생명</p>
                                    <p class="t_02">임직원</p>
                                    <p class="t_03">FC의 참여에 맞춰 건당 500원이<br/>
                                        환아 의료비 지원을 위한 하트펀드<br/>
                                        기부금으로 조성됩니다.</p>
                                </div>
                            </li>
                            <li>
                                <div class="img"></div>
                                <div class="txt_box">
                                    <p class="t_01">삼성생명</p>
                                    <p class="t_02">COMPANY</p>
                                    <p class="t_03">FC의 참여에 맞춰 건당 500원이<br/>
                                        환아 의료비 지원을 하트펀드<br/>
                                        기부금으로 조성됩니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="section_04">
                    <div class="in_box">
                        <p>SAMSUNG LIFE HEART FUND</p>
                    </div>
                </div>

                <div class="section_05">
                    <div class="in_box">
                        <h4 class="title">여러분의 따뜻한 마음이 <span>어린이에게 닿는 그 순간</span></h4>
                        <div class="list">
                            <ul>
                                <li>
                                    <p class="name">환아 사연 접수</p>
                                    <p class="txt">FC, 임직원이신청한 <br/>
                                        도움이필요한 환아 사연을 <br/>
                                        팩스 및 메일을 통해 접수</p>
                                </li>
                                <li>
                                    <p class="name">1차 사연 선정 후 인터뷰</p>
                                    <p class="txt">접수된 신청서 바탕으로 <br/>
                                        보호자와 유선 확인 후<br/>
                                        2배수 선정</p>
                                </li>
                                <li>
                                    <p class="name">선정 위원회의 최종 선정</p>
                                    <p class="txt">선정위원회 회의를 통해 <br/>
                                        긴급 지원이 필요한 <br/>
                                        환아 최종 선정</p>
                                </li>
                                <li>
                                    <p class="name">결과 발표 및 지원</p>
                                    <p class="txt">SMS 및 유선을 통해 <br/>
                                        선정 안내 후 선정된 환아에게 <br/>
                                        짝수달에 의료비 지급</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="section_06">
                    <div class="in_box">
                        <div class="img"><img src="/front/images/sub/about_01_06.jpg" alt="" /></div>
                        <div class="txt_box">
                            <h4 class="title">어린이가 <span>건강한 내일</span>을 <br/>꿈꿀 수 있도록</h4>
                            <p class="txt">질병으로 인해 힘든 하루를 보내는 환아와 가족들을 위해 <br/>
                                삼성생명에서 작은 희망을 전달합니다.<br/><br/>
                                여러분 본인 또는 주변에 도움이 필요한 어린이가 있다면, 사연을 신청해주세요.<br/>
                                사연 확인 후 최종 선정을 통해 의료비 지원이 진행됩니다.</p>
                            <a href="/page/apply/info" class="btn_link">환아 사연 신청하기</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- id : container -->
</div>
</body>
</html>