<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="/page/kor/business1"><em>IT</em></a></li>
                <li><a href="/page/kor/business2"><em>CURTURE</em></a></li>
                <li><a href="/page/kor/business3"><em>PLAY</em></a></li>
                <li class="on"><a href="#self"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business4">
            <div class="txt_box">
                <h3 class="tit">HEALTH</h3>
                <p class="comment">
                    넥슨재단은 재활치료를 필요로 하는 어린이들이 제때 제대로 된 치료를 받을 수 있도록<br />재활병원 건립을 후원하고 장기적인 자활자립을 지원하고 있습니다.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">푸르메재단<br />넥슨어린이재활병원</h4>
                <div class="img_box"><img src="/front/images/sub/img_business4.jpg" alt="" /></div>
                <div class="txt">
                    <span class="line_changer">국내 최초의 통합형 어린이재활병원으로 넥슨과 함께 푸르메재단,</span>
                    <span class="line_changer">1만여 명의 시민, 500여 개의 기업들의 자발적 참여로</span>
                    <span class="line_changer">2016년 개원하였습니다.</span>
                    <span class="line_changer">넥슨재단은 안정적인 병원 운영을 위해 지속적인 지원을 이어가는 한편</span>
                    <span class="line_changer">시기별 다양한 행사 진행과 치료 프로그램 도입 등 어린이들의 즐거운</span>
                    <span class="line_changer">재활치료를 돕고 있습니다. </span>
                </div>
                <a href="http://www.purmehospital.org" class="btns" target="_blank">푸르메재단 넥슨어린이재활병원 홈페이지 바로가기<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>