<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="/page/kor/business1"><em>IT</em></a></li>
                <li><a href="/page/kor/business2"><em>CURTURE</em></a></li>
                <li class="on"><a href="#self"><em>PLAY</em></a></li>
                <li><a href="/page/kor/business4"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business3">
            <div class="txt_box">
                <h3 class="tit">PLAY</h3>
                <p class="comment">
                    세상 모든 어린이들이 누릴 권리, 놀이!<br />브릭을 활용하여 어린이들의 상상력과 창의력을 자극할 수 있는 즐거운 놀이문화를 만들어 갑니다.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">Dream in Brick</h4>
                <div class="img_box"><img src="/front/images/sub/img_business3.jpg" alt="" /></div>
                <div class="txt">
                    <span class="line_changer">창의적인 놀이문화의 확산을 위하여, 무엇이든 만들 수 있는 장난감,</span>
                    <span class="line_changer">브릭을 통해 어린이들의 상상력과 창의성을 자극하는 프로그램을</span>
                    <span class="line_changer">개발하고 지원하는 프로젝트입니다.</span>
                    <span class="line_changer">국내 지역아동센터 및 미얀마, 캄보디아, 네팔, 몽골 등지에</span>
                    <span class="line_changer">2018년 한해 490만개 브릭을 기부하였으며, 다양한 NGO 파트너들을</span>
                    <span class="line_changer">발굴하고 파트너십을 구축하여 세계 곳곳의 어린이들에게 창의적인</span>
                    <span class="line_changer">놀이의 기회를 제공해 나갈 것입니다. </span>
                </div>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>