<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="/page/kor/business1"><em>IT</em></a></li>
                <li class="on"><a href="#self"><em>CURTURE</em></a></li>
                <li><a href="/page/kor/business3"><em>PLAY</em></a></li>
                <li><a href="/page/kor/business4"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business2">
            <div class="txt_box">
                <h3 class="tit">CULTURE</h3>
                <p class="comment">
                    어린이들이 책을 통해 지식을 얻고 배움의 즐거움을 알 수 있도록 돕습니다.<br />
                    또한, 우리 사회에 다양한 문화컨텐츠를 소개하며<br />
                    어린이 청소년들이 보다 쉽게 문화컨텐츠를 접할 수 있도록 지원하고 있습니다.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">넥슨작은책방</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_1.jpg" alt="" /></div>
                <div class="txt">
                    <span class="line_changer">넥슨작은책방은 2004년 경남 통영시 풍화분교에 1호점을 시작으로</span>
                    <span class="line_changer">어린이들이 쉽고 재미있게 책을 접할 수 있도록 지식과 배움의 터를</span>
                    <span class="line_changer">제공하는 넥슨 컴퍼니의 대표적인 사회공헌 사업입니다.</span>
                    <span class="line_changer">국내 112개, 부룬디, 네팔, 캄보디아, 라오스 등 해외 7개 등 총 119개가</span>
                    <span class="line_changer">운영되고 있으며, 약 10만 여권의 책이 기부되었고 전 세계 10만여 명</span>
                    <span class="line_changer">어린이들의 독서 장소이자 다양한 문화체험 공간으로 이용되고 있습니다.</span>
                    <span class="line_changer">작은책방 어린이들의 건강한 독서활동을 위해 ‘상상씨앗 독서 프로그램’과</span>
                    <span class="line_changer">‘작은책방 독후감 대회’을 진행하고 있습니다.</span>
                </div>
                <a href="https://nexonlibrary.com/" class="btns" target="_blank">넥슨작은책방 홈페이지 바로가기<em></em></a>
            </div>
            <div class="cont_box">
                <h4 class="tit">네오-제주 (NEO-JEJU)</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_2.jpg" alt="" /></div>
                <div class="txt">
                    <span class="line_changer">2015년 새로운 제주를 위한 청년 프로젝트로 시작한 네오-제주는</span>
                    <span class="line_changer">총 29개 청년기획단체의 92개 프로젝트 11,101명을 지원했고</span>
                    <span class="line_changer">2018년부터 지역과 연령의 제한없이 제주 문화를 주제로 한 프로젝트로</span>
                    <span class="line_changer">대상을 확대하여 제주의 다양하고 새로운 문화 발굴에 기여하고 있습니다.</span>
                </div>
                <a href="https://www.nxc.com/index/jeju" class="btns" target="_blank">네오제주 홈페이지 바로가기<em></em></a>
            </div>
            <div class="cont_box">
                <h4 class="tit">문화다양성 펀드</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_3.jpg" alt="" /></div>
                <div class="txt">
                    <span class="line_changer">넥슨의 창의적이고 실험적인 기업가치에 부합하는 문화, 예술의 다양성</span>
                    <span class="line_changer">발전을 도모하기 위해 추진된 프로젝트로 다양한 문화, 예술 분야에 대한</span>
                    <span class="line_changer">후원을 통해 많은 창작자들의 창의적인 문화 콘텐츠 개발을 지원하고</span>
                    <span class="line_changer">이를 사회에 소개합니다.</span>
                </div>
                <a href="https://www.nxc.com/index/fund" class="btns" target="_blank">문화다양성펀드 홈페이지 바로가기<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>