<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/front/js/page/business.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">

    <section id="container">
        <div id="contents" class="sub_business">
            <div class="inner_box">
                <div class="section_01">
                    <h2 class="title">미래세대의 <strong>행복한 상상</strong>을 응원합니다.</h2>
                </div>
                <div class="section_02">
                    <div class="aside">
                        <p class="tit">FILTER BY</p>
                        <div class="select_box">
                            <button type="button" class="btn_select">All<span class="count">6</span></button>
                            <ul class="select">
                                <li><a href="#self" ref="All">All <span class="count">6</span></a></li>
                                <li><a href="#self" ref="Tech">Technology <span class="count">1</span></a></li>
                                <li><a href="#self" ref="Health">Health <span class="count">1</span></a></li>
                                <li><a href="#self" ref="Culture">Culture <span class="count">3</span></a></li>
                                <li><a href="#self" ref="Play">Play <span class="count">1</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_01.jpg" alt="" /></span>
                                    <span class="blue label">Tech</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">NYPC {}</p>
                                    <p class="txt">NYPC는 청소년들을 대상으로 프로그래밍에 대한 관심을 높이고
                                        참신하고 재미있는 프로그래밍 문제를 통해 코딩을 경험할 수 있도록
                                        하기 위해 넥슨이 지난 2016년부터 매년 개최하고 있는 청소년
                                        코딩대회입니다. <br/>
                                        보다 많은 청소년들에게 코딩 학습의 동기를 부여하기 위해 코딩
                                        전문가들이 코딩에 대한 비전과 방향성을 전달하고, 경험담과
                                        사례 공유를 통해 청중들과 교감을 나누는 'NYPC 토크콘서트'도
                                        함께 개최하고 있습니다. </p>
                                    <a href="https://www.nypc.co.kr" class="btn_more" target="_blank"><span>바로가기</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_02.jpg" alt="" /></span>
                                    <span class="mint label">Health</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">푸르메재단 넥슨어린이재활병원</p>
                                    <p class="txt">N국내 최초의 통합형 어린이재활병원으로 넥슨과 함께 푸르메재단,
                                        1만여 명의 시민, 500여 개의 기업들의 자발적 참여로 2016년
                                        개원하였습니다.<br/>
                                        넥슨재단은 안정적인 병원 운영을 위해 지속적인 지원을 이어가는 한편
                                        시기별 다양한 행사 진행과 치료 프로그램 도입 등 어린들의 즐거운
                                        재활치료를 돕고 있습니다. </p>
                                    <a href="http://www.purmehospital.org" class="btn_more" target="_blank"><span>바로가기</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_03.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">넥슨작은책방</p>
                                    <p class="txt">넥슨작은책방은 2004년 경남 통영시 풍화분교에 1호점을 시작으로
                                        어린이들이 쉽고 재미있게 책을 접할 수 있도록 지식과 배움의 터를
                                        제공하는 넥슨 컴퍼니의 대표적인 사회공헌 사업입니다.
                                        국내 112개, 부룬디, 네팔, 캄보디아, 라오스 등 해외 7개 등 총 119개가
                                        운영되고 있으며, 약 10만 여권의 책이 기부되었고, 전 세계 10만여 명
                                        어린이들의 독서 장소이자 다양한 문화체험 공간으로 이용되고 있습니다.
                                        작은책방 어린이들의 건강한 독서활동을 위해 ‘상상씨앗 독서 프로그램’과
                                        ‘작은책방 독후감 대회’을 진행하고 있습니다.</p>
                                    <a href="https://nexonlibrary.com/" class="btn_more" target="_blank"><span>바로가기</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_04.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">네오-제주 (NEO-JEJU)</p>
                                    <p class="txt">2015년 새로운 제주를 위한 청년 프로젝트로 시작한 네오-제주는 총 29개
                                        청년기획단체의 92개 프로젝트 11,101명을 지원했고 2018년부터 지역과
                                        연령의 제한없이 제주 문화를 주제로 한 프로젝트로 대상을 확대하여
                                        제주의 다양하고 새로운 문화 발굴에 기여하고 있습니다.</p>
                                    <a href="https://www.facebook.com/neojeju" class="btn_more" target="_blank"><span>바로가기</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_05.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">문화다양성 펀드</p>
                                    <p class="txt">넥슨의 창의적이고 실험적인 기업가치에 부합하는 문화, 예술의 다양성
                                        발전을 도모하기 위해 추진된 프로젝트로 다양한 문화, 예술 분야에 대한
                                        후원을 통해 많은 창작가들의 창의적인 문화 콘텐츠 개발을 지원하고
                                        이를 사회에 소개합니다.</p>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_06.jpg" alt="" /></span>
                                    <span class="orange label">Play</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">브릭 놀이</p>
                                    <p class="txt">국내외 비영리∙소셜벤처 파트너들과 협력하여 브릭(brick)을
                                        활용한 어린이 놀이∙교육 프로그램을 개발하고 보급합니다. <br/>
                                        2018년 프로그램 론칭 이후 한국, 미국, 몽골, 방글라데시,
                                        남아프리카공화국 등 전세계 30개국에 1,600만개 이상의 브릭을 기부,
                                        20만명 이상의 어린이들에게 즐거운 놀이 기회를 제공하고 있습니다. </p>
                                    <!--<a href="#self" class="btn_more"><span>바로가기</span></a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->
</div>

</body>
</html>