<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul>
                <li class="on"><a href="#self"><em>소개</em></a></li>
                <li><a href="/page/kor/intro2"><em>연혁</em></a></li>
                <li><a href="/page/kor/intro3"><em>오시는 길</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap intro1">
            <div class="txt_box">
                <h3 class="tit">소개</h3>
            </div>
        </section>

        <div class="intro1_wrap">
            <div class="img_box"><img src="/front/images/sub/img_intro1.jpg" alt="" /></div>
            <div class="txt_box">
                <h4 class="tit"><span>넥슨재단은 넥슨 컴퍼니가</span><br /><span>사회공헌 활동을 지속적으로 확산하기 위해</span><br /><span>설립한 비영리 재단입니다.</span></h4>
                <p>
                    <span class="line_changer">2005년 시작한 넥슨작은책방 프로그램을 비롯, 국내 최초의</span>
                    <span class="line_changer">통합형 어린이 재활전문병원 푸르메재단 넥슨어린이재활병원,</span>
                    <span class="line_changer">청소년 대상 코딩대회인 NYPC, 창의적 놀이문화의 확산을 위한</span>
                    <span class="line_changer">브릭 기부 등 그동안 진행해온 사회공헌 활동을 발전시키는 한편</span>
                    <span class="line_changer">한 명의 어린이로부터(From a CHILD)라는 가치 아래 IT와 문화.</span>
                    <span class="line_changer">놀이 및 건강 영역에서 미래세대를 위한 새로운 프로젝트를</span>
                    <span class="line_changer">추진하고 있습니다.</span>
                </p>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>