<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul>
                <li><a href="#self"><em>소개</em></a></li>
                <li class="on"><a href="#self"><em>연혁</em></a></li>
                <li><a href="#self"><em>오시는 길</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap intro2">
            <div class="txt_box">
                <h3 class="tit">연혁</h3>
            </div>
        </section>

        <section class="intro2_wrap">
            <div class="inner_box">
                <div class="history_box">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_1.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.2</span>
                            <span class="txt2">~ 2018.5</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li><strong>2018. 2</strong><span>넥슨 재단 설립</span></li>
                        <li><strong>2018. 3</strong><span>연세대 RC 창의플랫폼 후원</span></li>
                        <li><strong>2018. 4</strong><span>네오제주 (NEO-jeju) 2018 지원단체 선정 및 발대식</span></li>
                        <li><strong>2018. 5</strong><span>푸르메재단 넥슨 어린이재활병원 영유아 발달장애 치료 프로그램 지원</span></li>
                    </ul>
                </div>
                <div class="history_box2">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_2.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.6</span>
                            <span class="txt2">~ 2018.9</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li><strong>2018. 6</strong><span>NYPC 2018 대회 개막</span></li>
                        <li>
                            <strong>2018. 7</strong>
                            <span class="bl">NYPC 2018 찾아가는 설명회</span>
                            <span class="bl">전국 60개 작은책방에 창의적 놀이문화<br />확산을 위한 브릭 놀이 세트 기부</span>
                        </li>
                        <li><strong>2018. 8</strong><span>NYPC 2018 토크 콘서트 개최</span></li>
                        <li><strong>2018. 9</strong><span>몽골 올란바토리 해외 작은책방 7호점 개관 및 브릭 이벤트 진행</span></li>
                    </ul>
                </div>
                <div class="history_box">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_3.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.10</span>
                            <span class="txt2">~ 2018.12</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li>
                            <strong>2018. 10</strong>
                            <span class="bl">미국 LA소재 투빗서커스, 이매지네이션, 소호임팩트와<br />‘STEAM카니발’ 및 ‘놀이의 날’ 이벤트 개최</span>
                            <span class="bl">NYPC 2018 본선대회 진행</span>
                            <span class="bl">월드쉐어와 공공장난감도서관 브릭 기부</span>
                        </li>
                        <li>
                            <strong>2018. 11</strong>
                            <span class="bl">넥슨작은책방 제 8회 독후감대회 시상식</span>
                            <span class="bl">몽골 게르허브, 소호임팩트와<br />EIP (Education for Innovation Program) 워크샵 개최</span>
                        </li>
                        <li>
                            <strong>2018. 12</strong>
                            <span class="bl">초록우산어린이재단, 브레이너리메이커스,<br />소호임팩트와어린이 창의성 개발을 위한 메이커 교육 4자 협약</span>
                            <span class="bl">연세대 RC 창의플랫폼 최종 공모전 심사</span>
                            <span class="bl">씨프로그램, 소호임팩트와 ‘놀이를 보는 새로운 시선’을<br />주제로 Re-play 포럼 개최</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div><!-- id : main_container -->
</div>

</body>
</html>