<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <section id="container">
        <div id="contents" class="sub_about">
            <div class="inner_box">
                <div class="navi">
                    <ul>
                        <li class="on"><button type="button"><span>Our Story</span></button></li>
                        <li><button type="button"><span>Timeline</span></button></li>
                        <li><button type="button"><span>Contact us</span></button></li>
                    </ul>
                </div>
                <div class="section_01">
                    <h2 class="title">OUR STORY</h2>
                    <p class="tit"><strong>잠재된 창의성</strong>을 일깨우고 <br/>육성합니다.</p>
                    <p class="txt">Nexon Foundation is our commitment to giving back and <br/>
                        empowering youth to create.<br/>
                        Since 2005, Nexon has worked to inspire learning and celebrater<br/>
                        creative play with children and communities around the world.</p>
                </div>
                <div class="section_02">
                    <h2 class="title">TIMELINE</h2>
                    <p class="period">/ 2018.10 - 2018.12</p>
                    <div class="list img_02">
                        <ul>
                            <li>
                                <p class="date">2018.12</p>
                                <ul>
                                    <li>초록우산어린이재단, 브레이너리메이커스와 브릭을 활용한 <br/>
                                        메이커 교육 프로그램 파트너쉽 론칭</li>
                                    <li>연세대 RC 창의플랫폼 최종 공모전 심사</li>
                                    <li>C-Program과 '놀이를 향한 새로운 시선'을 주제로 &lt;RE-Play 포럼&gt; 공동개최</li>
                                    <li>방글라데시 영국문화원과 브릭을 활용한 어린이 독서 교육 프로그램 론칭</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.11</p>
                                <ul>
                                    <li>넥슨작은책방 제8회 독후감대회 시상식</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.10</p>
                                <ul>
                                    <li>소호임팩트재단, 미국 이매지네이션재단과 <br/>
                                        &lt;놀이의 날(Day of Play)&gt; 행사 개최</li>
                                    <li>NYPC 2018 본선대회 진행</li>
                                    <li>소호임팩트재단, 몽골 게르허브와 브릭을 활용한 <br/>
                                        청소년 혁신가 양성 프로그램 론칭</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <p class="period">/ 2018.06 - 2018.09</p>
                    <div class="list img_03">
                        <ul>
                            <li>
                                <p class="date">2018.09</p>
                                <ul>
                                    <li>몽골 해외 작은책방 7호점 개관 및 브릭 놀이 이벤트 진행</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.08</p>
                                <ul>
                                    <li>NYPC 2018 토크콘서트 개최</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.07</p>
                                <ul>
                                    <li>NYPC 2018 찾아가는 설명회 진행</li>
                                    <li>전국 60개 지역아동센터 '브릭 놀이 세트' 기부</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.06</p>
                                <ul>
                                    <li>NYPC 2018 대회 개막</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <p class="period">/ 2018.02 - 2018.05</p>
                    <div class="list img_04">
                        <ul>
                            <li>
                                <p class="date">2018.05</p>
                                <ul>
                                    <li>푸르메재단 넥슨어린이재활병원에 영유아 발달장애 <br/>
                                        치료 프로그램 지원</li>
                                    <li>소호임팩트재단, 미국 투빗서커스재단과 <br/>
                                        &lt;STEAM 카니발&gt; 행사 개최 </li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.04</p>
                                <ul>
                                    <li>네오제주 2018 지원단체 선정 및 발대식</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.03</p>
                                <ul>
                                    <li>연세대 RC 창의플랫폼 후원</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.02</p>
                                <ul>
                                    <li>넥슨재단 설립</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section_03">
                    <h2 class="title">CONTACT US</h2>
                    <div class="map">
                        <!--<img src="http://placehold.it/820x510" alt="구글지도" />-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.384013123168!2d127.03335045126381!3d37.52244407970707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3978e9a3455%3A0x14dc7733e247ce65!2z64Sl7Iqo7J6s64uo!5e0!3m2!1sko!2skr!4v1567996639380!5m2!1sko!2skr" width="820" height="510" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <p class="name">재단법인 넥슨재단</p>
                    <div class="info">
                        <ul>
                            <li>
                                <p class="tit">Address</p>
                                <p class="txt">서울특별시 강남구 도산대로 313, <br/>
                                    313빌딩 6층 (신사동 630-31)</p>
                            </li>
                            <li>
                                <p class="tit">Email</p>
                                <p class="mail">nexon@nexonfoundation.org</p>
                            </li>
                            <li>
                                <p class="tit">Phone</p>
                                <p class="txt">02-512-1994</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->
</div>

</body>
</html>