<!DOCTYPE html>
<html class="fixed" xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/front/js/page/notice.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <section id="container">
        <div id="contents" class="sub_news">
            <div class="inner_box">
                <div class="tab_box">
                    <a href="/page/kor/story_list"><span>스토리 <strong class="count">0</strong></span></a>
                    <a href="#self" class="on"><span>공지사항 <strong class="count">0</strong></span></a>
                </div>
                <div id="notice_list" class="story_list">
                    <ul></ul>
                </div>
                <div class="btn_more">
                    <button type="button">더보기</button>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->

    <section id="popup_all">
        <div class="popup_view" style="display: none">
            <div class="inner_box">
                <div class="cont" style="margin-bottom: 60px;"></div>

                <div class="control">
                    <div class="prevS">
                        <p class="tit">Previous</p>
                        <a href="#self" class="btn_prev">
                            <span class="img"><img src="https://placeimg.com/380/270/any" /></span>
                            <span class="name">제 4회 ‘청소년 프로그래밍 챌린지(NYPC)’ 일정 공개하고 ‘토크콘서트’ 참가자 모집을 시작합니다.</span>
                            <span class="date">2019.03.12</span>
                        </a>
                    </div>
                    <div class="nextS">
                        <p class="tit">Next</p>
                        <a href="#self" class="btn_next">
                            <span class="img"><img src="https://placeimg.com/380/270/any" /></span>
                            <span class="name">제 4회 ‘청소년 프로그래밍 챌린지(NYPC)’ 일정 공개하고 ‘토크콘서트’ 참가자 모집을 시작합니다.</span>
                            <span class="date">2019.03.12</span>
                        </a>
                    </div>
                </div>

                <button type="button" class="btn_close" onclick="layer_CLOSE('.popup_view');"><span class="blind">닫기</span></button>
            </div>
        </div>
    </section>

</div>

</body>
</html>