<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/front/js/page/storyDetail.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="two">
                <li class="on"><a href="#self"><em>스토리</em></a></li>
                <li><a href="/page/kor/notice_list"><em>공지사항</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap new1">
            <div class="txt_box">
                <h3 class="tit">스토리</h3>
            </div>
        </section>

        <section class="story_view_wrap">
            <div class="inner_box">
                <div class="story_top">
                    <span class="cate"></span>
                    <span class="part"></span>
                    <span class="title"></span>
                    <span class="date"></span>
                </div>

                <div class="story_article"></div>

                <div class="article_preview">
                    <a href="#self" id="prevStory" class="btn_prev"></a>
                    <a href="/page/kor/story_list" class="btn_list">목록</a>
                    <a href="#self" id="nextStory" class="btn_next"></a>
                </div>
            </div>
        </section>

    </div><!-- id : main_container -->
</div>

</body>
</html>