<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .two-line{
            /* 한 줄 자르기 */
            width: 100%;
            overflow: hidden !important;
            text-overflow: ellipsis;

            /* 여러 줄 자르기 추가 스타일 */
            white-space: normal;
            line-height: 1.2;

            text-align: left;
            word-wrap: break-word;
            display: -webkit-box !important;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
    <script th:src="@{/front/js/page/story.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <section id="container">
        <div id="contents" class="sub_news">
            <div class="inner_box">
                <div class="tab_box">
                    <a href="#self" class="on"><span>스토리 <strong class="count"></strong></span></a>
                    <a href="/page/kor/notice_list"><span>공지사항 <strong class="count"></strong></span></a>
                </div>
                <div id="story_list" class="story_list">
                    <ul ></ul>
                </div>
                <div class="btn_more">
                    <button type="button" style="display: none">더보기</button>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->

    <section id="popup_all">
        <div class="popup_view" style="display: none">
            <div class="inner_box">
                <div class="cont" style="margin-bottom: 60px;"></div>

                <div class="control">
                    <div class="prevS" style="cursor: pointer;">
                        <p class="tit">Previous</p>
                        <a href="#self" class="btn_prev">
                            <span class="img"><img src="https://placeimg.com/380/270/any" /></span>
                            <span class="name">제 4회 ‘청소년 프로그래밍 챌린지(NYPC)’ 일정 공개하고 ‘토크콘서트’ 참가자 모집을 시작합니다.</span>
                            <span class="date">2019.03.12</span>
                        </a>
                    </div>
                    <div class="nextS" style="cursor: pointer;">
                        <p class="tit">Next</p>
                        <a href="#self" class="btn_next">
                            <span class="img"><img src="https://placeimg.com/380/270/any" /></span>
                            <span class="name">제 4회 ‘청소년 프로그래밍 챌린지(NYPC)’ 일정 공개하고 ‘토크콘서트’ 참가자 모집을 시작합니다.</span>
                            <span class="date">2019.03.12</span>
                        </a>
                    </div>
                </div>

                <button type="button" class="btn_close" onclick="layer_CLOSE('.popup_view');"><span class="blind">닫기</span></button>
            </div>
        </div>
    </section>

</div>

</body>
</html>