<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">\
<head>
    <script th:src="@{/admin/js/page/banner.js}"></script>
    <script type="text/javascript">
        bannerUrl.list = "/mapi/banner/contents";
        bannerUrl.viewList = "/mapi/banner/view/contents";
        bannerUrl.pageAdd = "/page/admin/bannerC/add";
        bannerUrl.sort = "/mapi/banner/sort/contents";
    </script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <div id="list">
        <table class="table writeTable">
            <caption>
                콘텐츠 배너
                <div class="searchBox floatRight">
                    <label>
                        <input id="sKeyword" name="sKeyword" type="text" maxlength="100" value="" placeholder="" style="margin-right: 10px">
                        <button type="button" class="btn blackBtn devCssBtnSearch" onclick="list(1)">검색</button>
                    </label>
                </div>
                <div class="searchBox">
                    <span style="font-size:10pt;">총 0건의 데이터가 검색되었습니다</span>
                </div>
            </caption>
            <colgroup>
                <col style="width: 60px;"/>
                <col style="width: 100px;"/>
                <col />
                <col style="width: 200px;"/>
                <col style="width: 70px;"/>
            </colgroup>
            <thead>
                <tr>
                    <th>선택</th>
                    <th>번호</th>
                    <th>배너명</th>
                    <th>노출기간</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    </div>
    <div class="btnList clearfix">
        <div id="paging" class="paging"></div>
        <button type="button" class="btn mainBtn floatRight devCssBtnAdd">새 배너 등록</button>

        <hr>

        <div id="viewList">
            <table class="table">
                <caption>노출 관리</caption>
                <thead>
                <tr>
                    <th>노출순서</th>
                    <th>배너타입</th>
                    <th>배너명</th>
                    <th>노출기간</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <button type="button" class="btn mainBtn floatRight" id="btnViewSave">노출 저장</button>
        </div>
    </div>
</div>
</body>
</html>