<!DOCTYPE html>
<html lang="ko">
<head>
<title></title>
<meta name="generator" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=yes, maximum-scale=1.0, width=980" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<table width="720" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; margin:0 auto;">
		<tbody>
			<tr>
				<td height="69" align="left">
					<img src="http://tpoint.todos.co.kr/img/logo.png" width="187" height="45">
				</td>
			</tr>
			<tr>
				<td valign="top" style="padding:10px;font-family:'맑은 고딕';">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; border-top:1px solid #666;">
						<colgroup>
							<col width="20%;">
							<col width="">
						</colgroup>
						<tbody>
							<tr>
								<td height="50" bgcolor="#e8e8e8" style="padding:0 10px; font-size:16px; font-weight:bold">이메일 인증 번호</td>
								<td valign="top" style="padding:15px; line-height:1.4;">${emailVerify}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
