<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout">
<head>
    <!--<script th:src="@{/front/js/page/home.js}"></script>-->
</head>
<body>
<div layout:fragment="contents">
    <div id="container">

        <section class="sub_visual faq">
            <div class="txt_box">
                <h2 class="tit">궁금해요</h2>
                환아 의료비 지원 관련하여 궁금하신 점이 있다면 자주 묻는 질문에서 먼저 확인해보세요!
            </div>
        </section>

        <section class="faq_list_wrap">
            <div class="inner_box">
                <ul class="faq_tab">
                    <li class="on"><a href="#self">전체</a></li>
                    <li><a href="#self">기준</a></li>
                    <li><a href="#self">신청서 작성</a></li>
                    <li><a href="#self">선정 후</a></li>
                    <li><a href="#self">기타</a></li>
                </ul>
                <div class="faq_tab_m">
                    <select>
                        <option value="0" selected="selected">전체</option>
                        <option value="1">기준</option>
                        <option value="2">신청서 작성</option>
                        <option value="3">선정 후</option>
                        <option value="4">기타</option>
                    </select>
                </div>

                <div class="faq_list_box">
                    <div class="faq_title">
                        <div class="cate">카테고리</div>
                        <div class="title">제목</div>
                    </div>
                    <ul class="faq_list">
                        <li class="case1">
                            <a href="#self" class="q_box">
                                <span class="cate">기준</span>
                                <span class="title">경제적으로 얼마나 어려워야 신청 또는 선정 가능성이 있을까요?</span>
                                <span class="arrow"></span>
                            </a>
                            <div class="a_box">
                                <span class="tit">답변</span>
                                경제적 소득수준의 기준은 중위소득 80% 이하의 가정이면 누구나 신청 가능합니다.
                                가정 유형으로는 한부모, 조손가정, 차상위 가정일 경우 경제적 소득뿐만 아니라
                                가정의 수준 등을 확인하여 후원금을 지급하고자 합니다.
                            </div>
                        </li>
                        <li class="case2">
                            <a href="#self" class="q_box">
                                <span class="cate">신청서 작성</span>
                                <span class="title">경제적으로 얼마나 어려워야 신청 또는 선정 가능성이 있을까요?</span>
                                <span class="arrow"></span>
                            </a>
                            <div class="a_box">
                                <span class="tit">답변</span>
                                경제적 소득수준의 기준은 중위소득 80% 이하의 가정이면 누구나 신청 가능합니다.
                                가정 유형으로는 한부모, 조손가정, 차상위 가정일 경우 경제적 소득뿐만 아니라
                                가정의 수준 등을 확인하여 후원금을 지급하고자 합니다.
                            </div>
                        </li>
                        <li class="case3">
                            <a href="#self" class="q_box">
                                <span class="cate">선정 후</span>
                                <span class="title">경제적으로 얼마나 어려워야 신청 또는 선정 가능성이 있을까요?</span>
                                <span class="arrow"></span>
                            </a>
                            <div class="a_box">
                                <span class="tit">답변</span>
                                경제적 소득수준의 기준은 중위소득 80% 이하의 가정이면 누구나 신청 가능합니다.
                                가정 유형으로는 한부모, 조손가정, 차상위 가정일 경우 경제적 소득뿐만 아니라
                                가정의 수준 등을 확인하여 후원금을 지급하고자 합니다.
                            </div>
                        </li>
                        <li class="case4">
                            <a href="#self" class="q_box">
                                <span class="cate">기타</span>
                                <span class="title">경제적으로 얼마나 어려워야 신청 또는 선정 가능성이 있을까요?</span>
                                <span class="arrow"></span>
                            </a>
                            <div class="a_box">
                                <span class="tit">답변</span>
                                경제적 소득수준의 기준은 중위소득 80% 이하의 가정이면 누구나 신청 가능합니다.
                                가정 유형으로는 한부모, 조손가정, 차상위 가정일 경우 경제적 소득뿐만 아니라
                                가정의 수준 등을 확인하여 후원금을 지급하고자 합니다.
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="btn_box">
                    <!--<a href="#self" class="btn_more">더보기<span></span></a>-->
                </div>

                <h3 class="sub_title">신청 문의</h3>
                <div class="other_asking">
                    <p><span class="dotted">유선문의</span><em>070-4219-6881</em><em>070-4219-6858</em><span>(월~금    09:00 ~ 18:00)</span></p>
                    <p><span class="dotted">메일문의</span><a href="mailto:samsunglife@childfund.or.kr">samsunglife@childfund.or.kr</a></p>
                </div>
            </div>

            <script language="javascript" type="text/javascript">
                //<![CDATA[

                var fn_faq = function (){
                    var faq_obj = $('.faq_list_box .faq_list li');
                    var faq_obj_child = $('.faq_list_box .faq_list li .q_box');
                    var faq_tab = $('.faq_list_wrap .faq_tab li');
                    var faq_select = $('.faq_list_wrap .faq_tab_m select');

                    var fn_faq_movement = function (num){
                        var this_num = num;

                        faq_tab.removeClass('on');
                        faq_tab.eq(this_num).addClass('on');

                        faq_obj.removeClass('open');

                        if(this_num == 0){
                            faq_obj.removeClass('hide');
                        }else {
                            faq_obj.removeClass('hide');
                            faq_obj.each(function(i){
                                if(this_num == 1){
                                    if(!$(this).hasClass('case1')){
                                        $(this).addClass('hide');
                                    }
                                }else if(this_num == 2){
                                    if(!$(this).hasClass('case2')){
                                        $(this).addClass('hide');
                                    }
                                }else if(this_num == 3){
                                    if(!$(this).hasClass('case3')){
                                        $(this).addClass('hide');
                                    }
                                }else if(this_num == 4){
                                    if(!$(this).hasClass('case4')){
                                        $(this).addClass('hide');
                                    }
                                }
                            });
                        }
                    };

                    faq_tab.each(function(i){this.num = i});
                    faq_tab.bind('click',function(){
                        faq_select.val(this.num+"").prop("selected", true);
                        fn_faq_movement(this.num);
                    });

                    faq_obj_child.bind('click',function(){
                        if($(this).parent().hasClass("open")){
                            $(this).parent().removeClass('open');
                        }else {
                            faq_obj.removeClass('open');
                            $(this).parent().addClass('open');
                        }
                    });

                    faq_select.on('change', function() {
                        fn_faq_movement(this.value);
                    });

                };

                $(document).ready(function(){
                    fn_faq();
                });

                //]]>
            </script>
        </section>

    </div><!-- id : container -->
</div>
</body>
</html>