<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/front/js/page/index.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">

    <section>

    </section>

    <section id="popup_all">
        <div class="popup_view" style="display: none">
            <div class="inner_box">
                <div class="cont" style="margin-bottom: 60px;"></div>

                <button type="button" class="btn_close" onclick="layer_CLOSE('.popup_view');"><span class="blind">닫기</span></button>
            </div>
        </div>
    </section>

</div>

</body>
</html>