<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">
        <div id="main_contents">
            <div class="section_01">
                <div class="slider">
                    <div>
                        <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                        <div class="comment_box">
                            <p class="txt_01">NYPC { }</p>
                            <p class="txt_02">청년의 꿈을 펼치는 <br/>바람콘서트</p>
                            <p class="txt_03">다양한 난이도의 문제를 통해 <br/>
                                프로그래밍을 처음 접하는 학생들도 부담없이 <br/>
                                도전해 볼 수 있었던 대회의 현장, 함께해보세요!</p>
                            <a href="#self" class="btn_more">자세히 보기</a>
                        </div>
                    </div>
                    <div>
                        <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                        <div class="comment_box">
                            <p class="txt_01">NYPC { }</p>
                            <p class="txt_02">넥슨 청소년 프로그래밍 <br/>챌린지 본선 대회 현장</p>
                            <p class="txt_03">다양한 난이도의 문제를 통해 <br/>
                                프로그래밍을 처음 접하는 학생들도 부담없이 <br/>
                                도전해 볼 수 있었던 대회의 현장, 함께해보세요!</p>
                            <a href="#self" class="btn_more">자세히 보기</a>
                        </div>
                    </div>
                    <div>
                        <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                        <div class="comment_box">
                            <p class="txt_01">NYPC { }</p>
                            <p class="txt_02">다시보는 2018 <br/>NYPC 토크 콘서트</p>
                            <p class="txt_03">다양한 난이도의 문제를 통해 <br/>
                                프로그래밍을 처음 접하는 학생들도 부담없이 <br/>
                                도전해 볼 수 있었던 대회의 현장, 함께해보세요!</p>
                            <a href="#self" class="btn_more">자세히 보기</a>
                        </div>
                    </div>
                    <div>
                        <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                        <div class="comment_box">
                            <p class="txt_01">NYPC { }</p>
                            <p class="txt_02">넥슨작은책방 <br/>제 8회 독후감 시상식</p>
                            <p class="txt_03">다양한 난이도의 문제를 통해 <br/>
                                프로그래밍을 처음 접하는 학생들도 부담없이 <br/>
                                도전해 볼 수 있었던 대회의 현장, 함께해보세요!</p>
                            <a href="#self" class="btn_more">자세히 보기</a>
                        </div>
                    </div>
                </div>
                <div class="slider_thum">
                    <div>
                        <div class="cont">
                            <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                            <div class="comment_box">
                                <p>청년의 꿈을 펼치는 <br/>바람콘서트</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cont">
                            <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                            <div class="comment_box">
                                <p>넥슨 청소년 프로그래밍 <br/>챌린지 본선 대회 현장</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cont">
                            <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                            <div class="comment_box">
                                <p>다시보는 2018 <br/>NYPC 토크 콘서트</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cont">
                            <div class="bg_picture" style="background:url(/front/images/main/main_visual_02.jpg) center top no-repeat;"></div>
                            <div class="comment_box">
                                <p>넥슨작은책방 <br/>제 8회 독후감 시상식</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_02">
                <div class="inner_box">
                    <h2 class="tit">About Project</h2>
                    <p class="exp">The Nexon Foundation wants to create various projects in the areas of IT, culture, play and health.</p>
                    <div class="list">
                        <ul>
                            <li><a href="/page/eng/business1">
                                <span class="img"><img src="/front/images/main/business_01.jpg" alt="" /></span>
                                <span class="txt_box">
										<span class="name">IT</span>
										<span class="txt">Supports the foundation for future generations to grow into creative talents in the field of SW, and discovers and sponsors excellent adolescents with the potential in this field.</span>
									</span>
                            </a></li>
                            <li><a href="/page/eng/business4">
                                <span class="img"><img src="/front/images/main/business_04.jpg" alt="" /></span>
                                <span class="txt_box">
										<span class="name">HEALTH</span>
										<span class="txt">Sponsors the establishment of rehabilitation hospitals and supports long-term self-reliance to ensure that children in need of rehabilitation can receive proper treatment at the right time. </span>
									</span>
                            </a></li>
                            <li><a href="/page/eng/business2">
                                <span class="img"><img src="/front/images/main/business_03.jpg" alt="" /></span>
                                <span class="txt_box">
										<span class="name">CULTURE</span>
										<span class="txt">We introduce various cultural contents to our society and help children and adolescents to access cultural contents more easily.</span>
									</span>
                            </a></li>
                            <li><a href="/page/eng/business3">
                                <span class="img"><img src="/front/images/main/business_02.jpg" alt="" /></span>
                                <span class="txt_box">
										<span class="name">PLAY</span>
										<span class="txt">Play, the right of all children in the world! We are creating a fun play culture that can stimulate children's imagination and creativity using bricks.</span>
									</span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!-- id : main_contents -->
    </div><!-- id : main_container -->
</div>

</body>
</html>