<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/admin/layout/layout">
<div class="content" layout:fragment="contents">

    <div id="list">
        <table class="table writeTable">
            <caption>
                메인 팝업 리스트
            </caption>
            <colgroup>
                <col style="width: 60px;"/>
                <col style="width: 100px;"/>
                <col />
                <col style="width: 240px;"/>
                <col style="width: 70px;"/>
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>노출여부</th>
                    <th>팝업명</th>
                    <th>노출기간</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="btnList clearfix">
        <div id="paging" class="paging"></div>
        <button type="button" class="btn mainBtn floatRight devCssBtnAdd">새 팝업 등록</button>
    </div>
    <script>
        $('.devCssBtnAdd').click(function () {
            location.href='/page/admin/popup/add';
        });

        function list(no){
            $('.main').addClass('list');

            var colsInfo = [
                {no: 1, col: 'popupNo', name: '번호'}
                ,{no: 2, col: 'viewYn', name: '노출여부',custom:function(obj){
                    var viewYn = (obj.viewYn=='Y')? 'Y' : 'N';
                    return viewYn;
                }}
                , {no: 3, col: 'popupNm', name: '팝업명', width:"400px;",custom:function(obj){
                    var title = obj.popupNm;

                    return '<a href="/page/admin/popup/add?info='+obj.popupSeq+'" class="ell">'+title+'</a>';
                }}
                , {no: 4, col: 'viewStDt', name: '노출기간', width:"400px;",custom:function(obj){
                    var viewUnlimitYn = obj.viewUnlimitYn;
                    var viewStDt = obj.viewStDt;
                    var viewEndDt = obj.viewEndDt;
                    var rs = (viewUnlimitYn == 'N') ? viewStDt + '~' + viewEndDt : '무제한';
                    return rs;
                }}
                , {no: 5, col: 'viewYn', name: '관리', custom:function(obj) {
                    var btn = "<input type='button' class='btn grayBtn' onclick='openPopup(\""+obj.filePath+"\");' value='미리보기'>";
                    return btn;
                }}
            ];

            var params = {
                cntPerPage: 10
                ,currentPage:no
            };

            tms.ajaxGetHelper('/mapi/popup', params, null, function(result) {

                var paging = {
                    id: '#paging',
                    pageNo: no,
                    totalCnt: 0,
                    countPerPage: 10,
                    fn: 'list',
                    activeClass: 'link on',
                    type: 'type1'
                };

                var info = {
                    colsInfo: colsInfo,
                    paging: paging
                };

                if(result.code == 0) {
                    var totalCnt = result.data.totalCnt;
                    paging.totalCnt = totalCnt;

                    if(totalCnt == 0){
                        tableType1("#list", null, info );
                    } else {
                        tableType1("#list", result.data.list, info);
                    }
                } else {
                    tableType1("#list", null, info );
                }

            }, function(a,s,d){

            });
        }

        list(1);

        function openPopup(url) {
            //var option = "width = 500, height = 500";
            //window.open(url, "메인 팝업", option);
            var imageWin = window.open("", "", "top=" + 0 + ",left=" + 0 + ",width=" + 400 + ",height=" + 400 +",scrollbars=yes,resizable=yes,status=no");
            imageWin.document.write("<html><title>메인팝업</title><body>");
            imageWin.document.write("<img src='" + url + "'>");
            imageWin.document.write("</body></html>");
        }
    </script>

</div>
</html>