.btnList .paging {
    display: inline-block;
    vertical-align: middle;
}
.paging {
    font-size: 12px;
    text-align: center;
}
.paging span {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    margin-left: 1px;
    margin-right: 1px;
}
.paging .link.on {
    background-color: #365ca5;
    color: #fff;
}
.paging span[class^="btn_"] {
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}
.paging .btn_first {
    background-image: url(/images/btnFirst.png);
}
.paging .btn_prev {
    background-image: url(/images/btnPrev.png);
}
.paging .btn_next {
    background-image: url(/images/btnNext.png);
}
.paging .btn_last {
    background-image: url(/images/btnLast.png);
}