<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="#self"><em>IT</em></a></li>
                <li><a href="#self"><em>CURTURE</em></a></li>
                <li class="on"><a href="#self"><em>PLAY</em></a></li>
                <li><a href="#self"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business3">
            <div class="txt_box">
                <h3 class="tit">PLAY</h3>
                <p class="comment">
                    Play, the right of all children in the world!<br />We are creating a fun play culture that can stimulate children's imagination and creativity using bricks.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">Dream in Brick</h4>
                <div class="img_box"><img src="/front/images/sub/img_business3.jpg" alt="" /></div>
                <div class="txt">
                    It is a project that develops and supports programs stimulating children's imagination and creativity through bricks, which are toys that allow children to make anything to spread the creative play culture. In 2018, we donated 4.9 million bricks to Myanmar, Cambodia, Nepal, and Mongolia as well as our local children's centers, and we will find various NGO partners and build partnerships to provide creative play opportunities to children around the world.
                </div>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>