<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="#self"><em>IT</em></a></li>
                <li><a href="#self"><em>CURTURE</em></a></li>
                <li><a href="#self"><em>PLAY</em></a></li>
                <li class="on"><a href="#self"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business4">
            <div class="txt_box">
                <h3 class="tit">HEALTH</h3>
                <p class="comment">
                    The Nexon Foundation sponsors the establishment of rehabilitation hospitals and supports long-term <br />self-reliance to ensure that children in need of rehabilitation can receive proper treatment at the right time.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">PURME Foundation NEXON Children's Rehabilitation Hospital</h4>
                <div class="img_box"><img src="/front/images/sub/img_business4.jpg" alt="" /></div>
                <div class="txt">
                    As the first integrated children's rehabilitation hospital in Korea, it was opened in 2016 with volunteer participation of PURME Foundation, 10,000 citizens, and 500 companies together with NEXON. The Nexon Foundation continues to provide support for the stable hospital operation while helping happy rehabilitation for children through various events and treatment programs on a timely basis.
                </div>
                <a href="#self" class="btns">Learn more<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>