<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li class="on"><a href="#self"><em>IT</em></a></li>
                <li><a href="/page/eng/business2"><em>CURTURE</em></a></li>
                <li><a href="/page/eng/business3"><em>PLAY</em></a></li>
                <li><a href="/page/eng/business4"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business1">
            <div class="txt_box">
                <h3 class="tit">IT</h3>
                <p class="comment">
                    The Nexon Foundation builds and supports the foundation for future generations to grow into creative talents in the field of SW,<br />and discovers and sponsors excellent adolescents with the potential in this field.
                </p>
            </div>
        </section>

        <div class="business1_wrap">
            <div class="txt_box">
                <h4 class="tit">NYPC</h4>
                <div class="img_box"><img src="/front/images/sub/img_business1.jpg" alt="" /></div>
                <div class="txt">
                    NYPC is a youth coding contest that has been held annually since 2016 by Nexon to increase teenagers’ interest in programming and to make them experience coding through novel and interesting programming questions. In order to motivate more adolescents to learn coding, the NYPC Talk Concert is also held, where coding experts convey their vision and direction for coding and communicate with audiences by sharing their experiences and examples.
                </div>

                <a href="https://www.nypc.co.kr" class="btns" target="_blank">NYPC Learn more<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>