<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/front/js/page/business.js}"></script>
</head>
<body>
<div class="content" layout:fragment="contents">
    <section id="container">
        <div id="contents" class="sub_business">
            <div class="inner_box">
                <div class="section_01">
                    <h2 class="title">Nexon <strong>fueled.</strong> Youth <strong>verified.</strong></h2>
                </div>
                <div class="section_02">
                    <div class="aside">
                        <p class="tit">FILTER BY</p>
                        <div class="select_box">
                            <button type="button" class="btn_select">All<span class="count">6</span></button>
                            <ul class="select">
                                <li><a href="#self" ref="All">All <span class="count">6</span></a></li>
                                <li><a href="#self" ref="Tech">Technology <span class="count">1</span></a></li>
                                <li><a href="#self" ref="Health">Health <span class="count">1</span></a></li>
                                <li><a href="#self" ref="Culture">Culture <span class="count">3</span></a></li>
                                <li><a href="#self" ref="Play">Play <span class="count">1</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_01.jpg" alt="" /></span>
                                    <span class="blue label">Tech</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">NYPC {}</p>
                                    <p class="txt">NYPC is a coding competition for youths that Nexon has been holding
                                        every year since 2016 to raise awareness of programming and offer
                                        coding experience through novel and interesting problems.<br/>
                                        To motivate more youths to learn how to code, coding experts also
                                        share their own involvements and case studies with the public via
                                        'NYPC Talk Concert', as well as communicate with the audience by
                                        conveying the vision of coding and its way ahead.</p>
                                    <a href="https://www.nypc.co.kr" class="btn_more" target="_blank"><span>Go to website</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_02.jpg" alt="" /></span>
                                    <span class="mint label">Health</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">PURME Foundation NEXON Children's <br/>
                                        Rehabilitation Hospital</p>
                                    <p class="txt">Being the first of its kind in Korea, PURME Foundation NEXON
                                        Children's Rehabilitation Hospital was opened in 2016 with major
                                        support from Nexon, and the PURME Foundation, along with 10,000
                                        citizens and 500 companies' voluntary donations. <br/>
                                        While providing sustainable support for stable hospital operation,
                                        Nexon Foundation also cares about children's enjoyable rehabilitation
                                        by introducing various events and treatment programs.</p>
                                    <a href="http://www.purmehospital.org" class="btn_more" target="_blank"><span>Go to website</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_03.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">NEXON Small Library</p>
                                    <p class="txt">Starting with its first one from 2004, NEXON Small Library has been
                                        one of the major CSR projects. <br/>
                                        A total of 119 small libraries are currently being employed 112 in Korea
                                        and seven overseas including Burundi, Nepal, Cambodia, Laos and over
                                        100,000 books have been donated so far. <br/>
                                        Those libraries are not only used as reading places but also worked as
                                        venues for various cultural experiences for around 100,000 children all
                                        over the world.</p>
                                    <a href="https://nexonlibrary.com/" class="btn_more" target="_blank"><span>Go to website</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_04.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">NEO-JEJU</p>
                                    <p class="txt">Since 2015, Neo-Jeju a youth project for aiming the new Jeju has
                                        supported 11,101 people from 92 projects of 29 youth planning teams
                                        over the years. <br/>
                                        Starting from 2018, the project has revised its applicant requirements
                                        by eliminating regional or age restrictions and more focusing on the
                                        theme of Jeju's original culture, its object has been contributing to the
                                        discovery of diverse and new cultures in the region.</p>
                                    <a href="https://www.nxc.com/index/jeju" class="btn_more" target="_blank"><span>Go to website</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_05.jpg" alt="" /></span>
                                    <span class="lime label">Culture</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">NEXON Cultural Diversity Fund</p>
                                    <p class="txt">To develop a diverse culture and art that meets Nexon's creative and
                                        experimental corporate value, Nexon Foundation has set up a fund to
                                        champion its characteristic. <br/>
                                        Through sponsorships of a wide range of cultural and artistic sectors,
                                        Nexon Foundation supports the creation of innovative artists' original
                                        contents, and ultimately introduces those to the world.</p>
                                    <a href="https://www.nxc.com/index/fund" class="btn_more" target="_blank"><span>Go to website</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="img_box">
                                    <span class="img"><img src="/front/images/sub/business_img_06.jpg" alt="" /></span>
                                    <span class="orange label">Play</span>
                                </div>
                                <div class="txt_box">
                                    <p class="tit">Brick Play</p>
                                    <p class="txt">Nexon Foundation partners with non-profit organizations and social
                                        ventures to offer qulality play opportunities to children around the
                                        world, through the medium of interlocking bricks.  Since its launch in
                                        2018, Nexon Foundation's Brick Play Program has donated 16 million
                                        bricks to benifit more than 200,000 children across 30 countries,
                                        including Korea, USA, Mongolia, Bangladesh and South Africa.</p>
                                    <!--<a href="#self" class="btn_more"><span>Go to website</span></a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->
</div>

</body>
</html>