<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul class="four">
                <li><a href="#self"><em>IT</em></a></li>
                <li class="on"><a href="#self"><em>CURTURE</em></a></li>
                <li><a href="#self"><em>PLAY</em></a></li>
                <li><a href="#self"><em>HEALTH</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap business2">
            <div class="txt_box">
                <h3 class="tit">CULTURE</h3>
                <p class="comment">
                    We help children gain knowledge from books and learn the joy of learning. In addition, <br />we introduce various cultural contents to our society and help children and<br />adolescents to access cultural contents more easily.
                </p>
            </div>
        </section>

        <div class="business2_wrap">
            <div class="cont_box">
                <h4 class="tit">Small bookstore</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_1.jpg" alt="" /></div>
                <div class="txt">
                    Starting with the first store in Punghwa Branch School in Tongyeong-si, Gyeongnam in 2004, NEXON Small Bookstore is a representative social contribution project of NEXSON Company that provides the place of knowledge and learning for children to access the books in easy and entertaining ways. A total of 119 bookstores are operated including 112 in Korea, 7 in foreign countries such as Burundi, Nepal, Cambodia, Laos, and over 100,000 books have been donated. In addition, they are used as reading places and various cultural experience spaces for about 100,000 children around the world. We are operating ‘Imaginary Seed Reading Program' and 'Small Bookstore Reading Contest' for healthy reading activities of children.
                </div>
                <a href="#self" class="btns">Learn more<em></em></a>
            </div>
            <div class="cont_box">
                <h4 class="tit">NEO-JEJU</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_2.jpg" alt="" /></div>
                <div class="txt">
                    Started as a new youth project for new Jeju in 2015, Neo-Jeju has supported 11,101 people from 92 projects of 29 youth planning organizations and contributes to discovering diverse and new cultures in Jeju by expanding the target to projects on Jeju culture without restriction of area and age in 2018.
                </div>
                <a href="#self" class="btns">Learn more<em></em></a>
            </div>
            <div class="cont_box">
                <h4 class="tit">Cultural Diversity Fund</h4>
                <div class="img_box"><img src="/front/images/sub/img_business2_3.jpg" alt="" /></div>
                <div class="txt">
                    As a project promoted to ensure the diversity of culture and art that meets Nexon's creative and experimental enterprise value, it supports the development of creative cultural contents of many creators through support for various cultural and artistic fields and introduce them to society.
                </div>
                <a href="#self" class="btns">Learn more<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>