<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul>
                <li><a href="#self"><em>Introduction</em></a></li>
                <li><a href="#self"><em>History</em></a></li>
                <li class="on"><a href="#self"><em>Location map</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap intro3">
            <div class="txt_box">
                <h3 class="tit">Location map</h3>
            </div>
        </section>

        <div class="intro3_wrap">
            <div class="img_box"><img src="/front/images/sub/img_intro3.jpg" alt="" /></div>
            <div class="txt_box">
                <h4 class="tit">MAP</h4>
                <h5 class="sub_tit">Address</h5>
                <p class="pb1">313 Bldg. 6F, Dosandaero 313, Gangnam, Seoul (Sinsa-dong 630-31)</p>

                <h4 class="tit">Contact</h4>
                <h5 class="sub_tit">E-MAIL</h5>
                <p class="pb2"><a href="mailto:nexon@nexonfoundation.org">nexon@nexonfoundation.org</a></p>
                <h5 class="sub_tit">Phone</h5>
                <p class="pb1"><a href="tel: 02-512-1994">02-512-1994</a></p>

                <a href="#self" class="btn_map">Map Detail<em></em></a>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>