<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul>
                <li class="on"><a href="#self"><em>Introduction</em></a></li>
                <li><a href="#self"><em>History</em></a></li>
                <li><a href="#self"><em>Location map</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap intro1">
            <div class="txt_box">
                <h3 class="tit">Introduction</h3>
            </div>
        </section>

        <div class="intro1_wrap">
            <div class="img_box"><img src="/front/images/sub/img_intro1.jpg" alt="" /></div>
            <div class="txt_box">
                <h4 class="tit"><span>The Nexon Foundation is a</span><span>non-profit organization established</span><span>by the Nexon Company to spread</span><span>social contribution activities</span><span>continuously.</span></h4>
                <p>
                    While developing social contribution activities that have been carried out, such as PURME Foundation NEXON Children's Rehabilitation Hospital, which is the Korea's first integrated children’s rehabilitation hospital, NYPC, which is the coding contest for teenagers, Brick donation for spreading creative play culture including Nexon small bookstore program started in 2005, we are promoting new projects for future generations in the areas of IT, culture, play and health under the motto of ‘From a CHILD’.
                </p>
            </div>
        </div>

    </div><!-- id : main_container -->
</div>

</body>
</html>