<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <section id="container">
        <div id="contents" class="sub_about">
            <div class="inner_box">
                <div class="navi">
                    <ul>
                        <li class="on"><button type="button"><span>Our Story</span></button></li>
                        <li><button type="button"><span>Timeline</span></button></li>
                        <li><button type="button"><span>Contact us</span></button></li>
                    </ul>
                </div>
                <div class="section_01">
                    <h2 class="title">OUR STORY</h2>
                    <p class="tit">We <strong>kindle</strong> and <strong>nurture</strong> <br/>the desire to create.</p>
                    <p class="txt">Nexon Foundation is our commitment to giving back and <br/>
                        empowering youth to create.<br/>
                        Since 2005, Nexon has worked to inspire learning and celebrater<br/>
                        creative play with children and communities around the world.</p>
                </div>
                <div class="section_02">
                    <h2 class="title">TIMELINE</h2>
                    <p class="period">/ 2018.10 - 2018.12</p>
                    <div class="list img_02">
                        <ul>
                            <li>
                                <p class="date">2018.12</p>
                                <ul>
                                    <li>Launches Brick Play Partnership with Childfund Korea and Brainery Makers to <br/>
                                        provide maker education to children</li>
                                    <li>Participates as judge at Creativity Platform Final Competition hosted <br/>
                                        by Yonsei University RC</li>
                                    <li>Hosts  &lt;RE:Play&gt; Forum with C-Program</li>
                                    <li>Launches Brick Play Partnership with British Council Bangladesh to enhance <br/>
                                        children's reading skills</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.11</p>
                                <ul>
                                    <li>Hosts 8th annual Nexon Small Library Book Review Competition</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.10</p>
                                <ul>
                                    <li>Supports &lt;Day of Play&gt; event hosted by Imagination.org & SOHO Impact</li>
                                    <li>NYPC 2018 Main Event</li>
                                    <li>Launches Brick Play Partnership with GerHub to grow next-gen innovators in Mongolia</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <p class="period">/ 2018.06 - 2018.09</p>
                    <div class="list img_03">
                        <ul>
                            <li>
                                <p class="date">2018.09</p>
                                <ul>
                                    <li>Opens 7th Global Small Library in Mongolia </li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.08</p>
                                <ul>
                                    <li>Hosts NYPC 2018 Talk Concert</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.07</p>
                                <ul>
                                    <li>Hosts NYPC 2018 Information session</li>
                                    <li>Donates brick play sets to 60 local childcare centers in Korea</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.06</p>
                                <ul>
                                    <li>NYPC 2018 Launches</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <p class="period">/ 2018.02 - 2018.05</p>
                    <div class="list img_04">
                        <ul>
                            <li>
                                <p class="date">2018.05</p>
                                <ul>
                                    <li>Supports remedial program for children with developmental challenges <br/>
                                        at Purme Nexon Children's Rehabilitation Hospital</li>
                                    <li>Supports &lt;STEAM Carnival&gt; hosted by Two Bit Circus Foundation &amp; SOHO Impact</li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.04</p>
                                <ul>
                                    <li>Supports Yonsei University Creativity Platform </li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.03</p>
                                <ul>
                                    <li>Supports Yonsei University Creativity Platform </li>
                                </ul>
                            </li>
                            <li>
                                <p class="date">2018.02</p>
                                <ul>
                                    <li>Nexon Foundation establishes</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section_03">
                    <h2 class="title">CONTACT US</h2>
                    <div class="map">
                        <!--<img src="http://placehold.it/820x510" alt="구글지도" />-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.5529149990084!2d127.03407918548162!3d37.522594966401705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca38958814ab5%3A0x975371c70a233822!2sBldg.%2C%20313%2C%20630-31%20Sinsa-dong%2C%20Gangnam-gu%2C%20Seoul!5e0!3m2!1sen!2skr!4v1568789156353!5m2!1sen!2skr" width="820" height="510" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <p class="name">Nexon Foundation</p>
                    <div class="info">
                        <ul>
                            <li>
                                <p class="tit">Address</p>
                                <p class="txt">6F, 313 Bldg., 313, Dosan-daero, <br/>
                                    Gangnam-gu, Seoul (630-31, Sinsa-dong)</p>
                            </li>
                            <li>
                                <p class="tit">Email</p>
                                <p class="mail">nexon@nexonfoundation.org</p>
                            </li>
                            <li>
                                <p class="tit">Phone</p>
                                <p class="txt">02-512-1994</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- id : contents -->
    </section><!-- id : main_container -->
</div>

</body>
</html>