<!DOCTYPE html>
<html xml:lang="ko" lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/eng/layout" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="content" layout:fragment="contents">
    <div id="container">

        <div class="mobild_sub_tabs">
            <ul>
                <li><a href="/page/eng/intro1"><em>Introduction</em></a></li>
                <li class="on"><a href="#self"><em>History</em></a></li>
                <li><a href="/page/eng/intro3"><em>Location map</em></a></li>
            </ul>
        </div>

        <section class="sub_visual_wrap intro2">
            <div class="txt_box">
                <h3 class="tit">History</h3>
            </div>
        </section>

        <section class="intro2_wrap">
            <div class="inner_box">
                <div class="history_box">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_1.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.2</span>
                            <span class="txt2">~ 2018.5</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li><strong>2018. 2</strong><span>Established Nexon Foundation</span></li>
                        <li><strong>2018. 3</strong><span>Sponsored Yonsei University RC Platform</span></li>
                        <li><strong>2018. 4</strong><span>Selected as Neo-Jeju 2018 Support Group and starting ceremony</span></li>
                        <li><strong>2018. 5</strong><span>Supported a children developmental disorder treatment program to PURME Foundation NEXON Children's Rehabilitation Hospital</span></li>
                    </ul>
                </div>
                <div class="history_box2">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_2.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.6</span>
                            <span class="txt2">~ 2018.9</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li><strong>2018. 6</strong><span>Opened NYPC 2018 contest</span></li>
                        <li>
                            <strong>2018. 7</strong>
                            <span class="bl">NYPC 2018 Visiting Presentation</span>
                            <span class="bl">Donated 'Brick Play Set' to 60<br />small bookstores nationwide</span>
                        </li>
                        <li><strong>2018. 8</strong><span>Held NYPC 2018 Talk Concert</span></li>
                        <li><strong>2018. 9</strong><span>Opened 7th overseas small bookstore in Ulaanbaatar, Mongolia and promoted Brick event</span></li>
                    </ul>
                </div>

                <div class="history_box">
                    <div class="img_box">
                        <img src="/front/images/sub/img_intro2_3.jpg" alt="" />
                        <div class="year_box">
                            <span class="txt1">2018.10</span>
                            <span class="txt2">~ 2018.12</span>
                        </div>
                    </div>
                    <ul class="history_list">
                        <li>
                            <strong>2018. 10</strong>
                            <span class="bl">Participated in LA 'STEAM Carnival' and 'Play Day' events in USA </span>
                            <span class="bl">NYPC 2018 Main Event</span>
                            <span class="bl">Donated bricks to public toy libraries with World Share</span>
                        </li>
                        <li>
                            <strong>2018. 11</strong>
                            <span class="bl">NEXON Small Bookstore 8th Book Report Contest awards ceremony </span>
                            <span class="bl">Held Mongolian Education for Innovation Program (EIP) Workshop</span>
                        </li>
                        <li>
                            <strong>2018. 12</strong>
                            <span class="bl">Four-party Agreement on maker education for the development of children's creativity (ChildFund Korea, Brainery Makers, SoHo Impact)</span>
                            <span class="bl">Final competition screening for Yonsei University RC Platform </span>
                            <span class="bl">Held Re-play Forum under the theme of ‘A New Insight into Play’ with C-program and SOHO Impact</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div><!-- id : main_container -->
</div>

</body>
</html>