html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, code, em, img, samp, small, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	box-sizing: border-box;
}

body, input, textarea, select, table, button {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	color: #333;
	font-weight: 400;
    font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, "맑은 고딕", dotum, gulim, Sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
	letter-spacing: -0.0125em;
}
textarea {
	box-sizing: border-box;
}
fieldset, img {
	border: 0
}

legend {
	display: none
}

em, address, i {
	font-style: normal
}

ul, ol, dl {
	list-style: none
}

button {
	cursor: pointer;
	border: 0;
	outline: none;
	background-color: transparent
}

hr {
	clear: both
}

label {
	cursor: pointer
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
	outline: none
}

a:hover, a.active {
	color: #333;
	text-decoration: none
}

img {
	vertical-align: top
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	outline: none
}

header, hgroup, article, nav, footer, figure, figcaption, canvas, section, menu, details, aside {
	display: block
}

input, label, textarea, select {
	box-sizing: border-box;
	vertical-align: middle;
}

textarea {
	resize: none
}

input[type=text]::-ms-clear {
	display: none
}

input[type='checkbox'], input[type='radio'] {
	margin: 0;
	padding: 0;
	/* *margin: -3px;
	*margin-left: -4px */
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}
label {
	margin-bottom: 0;
}