@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,900&display=swap');
html,body,div,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,code,em,img,samp,small,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
margin:0;
padding:0;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
box-sizing:border-box;
}
body,input,textarea,select,table,button{
font-size:14px;
line-height:1.5;
margin:0;
color:#333;
font-weight:400;
font-family:"Gothic A1","Noto Sans KR","Helvetica Neue",Helvetica,"맑은 고딕",dotum,gulim,Sans-serif,"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
letter-spacing:-0.0125em;
}
textarea{
box-sizing:border-box;
}
fieldset,img{
border:0
}
legend{
display:none
}
em,address,i{
font-style:normal
}
ul,ol,dl{
list-style:none
}
button{
cursor:pointer;
border:0;
outline:none;
background-color:transparent
}
hr{
clear:both
}
label{
cursor:pointer
}
table{
border-collapse:collapse;
border-spacing:0
}
a{
color:#333;
text-decoration:none;
cursor:pointer;
outline:none
}
a:hover,a.active{
color:#333;
text-decoration:none
}
img{
vertical-align:top
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{
outline:none
}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section,menu,details,aside{
display:block
}
input,label,textarea,select{
box-sizing:border-box;
vertical-align:middle;
}
textarea{
resize:none
}
input[type=text]::-ms-clear{
display:none
}
input[type='checkbox'],input[type='radio']{
margin:0;
padding:0;
/* *margin:-3px;
*margin-left:-4px */
}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
-webkit-appearance:none;
margin:0
}
label{
margin-bottom:0;
}
.container{
width:1180px;
margin:0 auto;
}
.container:before{
content:'';
display:block;
clear:both;
}
.row{
margin-left:-10px;
margin-right:-10px;
}
.floatRight{
float:right;
}
.floatLeft{
float:left;
}
.alignLeft{
text-align:left !important;
}
.alignRight{
text-align:right !important;
}
.whiteBtn{
background-color:#fff;
font-weight:600;
color:#365ca5;
}
.whiteBtn:hover,
.whiteBtn:focus,
.whiteBtn:active{
color:#365ca5;
}
.mainBtn{
background-color:#365ca5;
color:#fff;
}
.mainBtn:hover,
.mainBtn:focus,
.mainBtn:active{
color:#fff;
}
.blackBtn{
background-color:#3a3a3a;
color:#fff;
}
.blackBtn:hover,
.blackBtn:focus,
.blackBtn:active{
color:#fff;
}
.grayBtn{
background-color:#a0a0a0;
color:#fff;
}
.grayBtn:hover,
.grayBtn:focus,
.grayBtn:active{
color:#fff;
}
.fullWidth{
width:100%;
}
.iconNew{
display:inline-block;
vertical-align:middle;
background-color:#ea0000;
font-size:8px;
font-weight:bold;
color:#fff;
margin-left:2px;
padding:2px;
}
.pl10{
padding-left:10px;
}
.pl20{
padding-left:20px;
}
.pl30{
padding-left:30px;
}
.fontSize14{
font-size:14px;
}
.fontSize13{
font-size:13px;
}
.fontSize12{
font-size:12px;
}
h1{font-size:16px;font-weight:bold;}
h2{font-size:20px;font-weight:bold;}
/**
* frame
*/
/**
* S:header
*/
.header{
position:fixed;
top:0;
left:0;
right:0;
z-index:1004;
background-color:#365ca5;
height:80px;
}
.header .container{
position:relative;
}
.header h1{
position:absolute;
height:81px;
line-height:81px;
}
.header h1 a{
color:#fff;
}
.header nav{
position:absolute;
left:220px;
width:740px;
height:80px;
line-height:80px;
}
.header nav ul{
text-align:center;
}
.header nav li{
display:inline-block;
width:16%;
transition:all .3s ease;
}
.header nav a{
position:relative;
display:inline-block;
height:30px;
line-height:30px;
padding-bottom:7px;
transition:all .3s ease;
}
.header nav a:after{
content:'';
position:absolute;
bottom:0;
width:0;
left:50%;
height:1px;
background-color:#fff;
transition:all .3s ease;
}
.header nav a:hover:after{
position:absolute;
left:0;
width:100%;
}
.header nav a.on{
font-weight:bold;
border-bottom:1px solid #fff;
}
.header nav a.on:after{
height:0;
}
.header nav a{
color:#fff;
}
.header .utilLog{
height:80px;
line-height:80px;
}
.header .utilLog li{
display:inline-block;
color:#fff;
margin-left:11px;
}
.header .utilLog li:first-child{
margin-left:0;
}
.header .utilLog .whiteBtn{
width:80px;
height:30px;
line-height:16px;
}
/* E:header */
.main{
background-color:#f5f5f5;
padding-top:80px;
}
.main .content{
display:inline-block;
background-color:#fff;
width:calc(100% - 184px);
padding-top:70px;
padding-bottom:100px;
padding-left:42px;
padding-right:42px;
}
.leftSide{
display:inline-block;
vertical-align:top;
padding-top:70px;
}
.leftSide .snb{
width:180px;
}
.leftSide h2{
font-size:20px;
padding-bottom:50px;
}
.snb ul{
padding-left:12px;
padding-right:12px;
}
.snb .bigMenu > li{
transition:all .3s ease;
}
.snb .bigMenu > li.on{
padding-bottom:40px;
}
.snb .bigMenu > li > a{
position:relative;
font-weight:bold;
padding-bottom:10px;
}
.snb .bigMenu > li > a{
display:block;
padding-right:10px;
}
.snb .bigMenu > li > a:before{
content:'';
position:absolute;
top:14px;
left:-12px;
display:inline-block;
width:3px;
height:3px;
background-color:#333;
}
.snb .midMenu{
display:none;
}
.snb .midMenu a{
font-size:14px;
color:#999;
}
.snb .bigMenu .on > a{
color:#365ca5;
}
.snb .bigMenu .on .midMenu a.on{
color:#365ca5;
border-bottom:1px solid #365ca5;
}
.snb .bigMenu a span{
display:inline-block;
vertical-align:middle;
}
.snb .bigMenu a span:first-child{
padding-right:5px;
}
.snb .bigMenu a .icon{
transition:all .3s ease;
transform:rotate(0deg) translateY(-3px)
}
.snb .bigMenu .on .icon{
transform:rotate(540deg) translateY(-6px);
}
/**
* component
*/
table caption{
font-size:20px;
font-weight:600;
text-align:left;
color:#333;
padding-bottom:20px;
}
.table{
width:100%;
border-top:2px solid #343434;
border-bottom:2px solid #343434;
}
.table tr{
border-bottom:1px solid #e1e1e1;
}
.table th{
background-color:#f5f5f5;
font-size:14px;
text-align:center;
/*width:160px;*/
height:50px;
}
.table th .required{
vertical-align:middle;
color:#365ca5;
padding-left:5px;
}
/* bootstrap overwrite */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
vertical-align:middle;
}
.btnList .paging{
display:inline-block;
vertical-align:middle;
}
.paging{
font-size:12px;
text-align:center;
}
.paging span{
display:inline-block;
vertical-align:middle;
width:19px;
height:19px;
margin-left:1px;
margin-right:1px;
}
.paging .link.on{
background-color:#365ca5;
color:#fff;
}
.paging span[class^="btn_"]{
background-repeat:no-repeat;
background-position:center;
text-indent:-9999px;
}
.paging .btn_first{
background-image:url(/admin/images/btnFirst.png);
}
.paging .btn_prev{
background-image:url(/admin/images/btnPrev.png);
}
.paging .btn_next{
background-image:url(/admin/images/btnNext.png);
}
.paging .btn_last{
background-image:url(/admin/images/btnLast.png);
}
/**
* layout
*/
.login .container{
background-color:#f5f5f5;
border:1px solid #d7d7d7;
position:absolute;
top:50%;
width:620px;
left:0;
right:0;
margin:0 auto;
margin-top:-195px;
}
.login h1{
font-size:24px;
font-weight:bold;
text-align:center;
letter-spacing:-0.025em;
color:#365ca5;
padding-top:63px;
padding-bottom:40px;
}
.login fieldset{
text-align:center;
}
.login label{
display:inline-block;
vertical-align:middle;
font-weight:bold;
text-align:right;
width:80px;
}
.login input{
display:inline-block;
vertical-align:middle;
font-size:13px;
width:360px;
height:50px;
margin-left:15px;
padding-left:10px;
padding-right:10px;
}
.login fieldset div{
padding-bottom:10px;
}
.login .btnList{
display:block;
text-align:center;
padding-top:40px;
padding-bottom:64px;
}
.login .btnList .btn{
display:inline-block;
font-size:14px;
font-weight:bold;
width:180px;
height:50px;
}
.login fieldset .warnTxt{
display:none;
color:#f00;
}
.login fieldset .warn input{
border:1px solid #f00;
}
.login fieldset span{
position:relative;
}
.login fieldset .warn .warnTxt{
display:block;
position:absolute;
top:3px;
left:25px;;
}
.write .table td{
padding-left:15px;
}
.table td select,
.table td input{
border:1px solid #d7d7d7;
padding-left:5px;
padding-right:5px;
}
.table select{
font-size:13px;
width:187px;
height:27px;
}
.table td label{
padding-right:20px;
}
.table td label:last-child{
padding-right:0;
}
.table td input[type="radio"]{
width:15px;
height:15px;
margin-top:2px;
margin-right:2px;
}
.table td label,
.table td input[type="radio"]{
display:inline-block;
vertical-align:middle;
font-weight:normal;
}
.table .showTerm td > div{
display:inline-block;
vertical-align:middle;
margin-right:6px;
}
.table .showTerm td > div:last-child{
margin-right:0;
}
.table .showTerm input[type="text"]{
width:98px;
border:1px solid #d7d7d7;
}
.table .showTerm .icon{
display:inline-block;
vertical-align:middle;
background-color:#a0a0a0;
text-align:center;
width:27px;
height:27px;
margin-left:-4px;
}
.table .showTerm .fa-calendar-alt{
font-size:16px;
line-height:26px;
color:#fff;
}
.table .showTerm select{
width:53px;
}
.table .showTerm span{
font-size:14px;
}
.table .showTerm input[type="checkbox"]{
width:15px;
height:15px;
margin-right:4px;
}
.table .showTerm .limitChk label{
margin-bottom:2px;
}
.table label input{
margin-top:0;
}
.table label span{
display:inline-block;
vertical-align:middle;
}
.table label input{
width:200px;
margin-top:2px;
}
.table input[type="file"]{
border:none;
padding-left:0;
padding-right:0;
}
.table button{
display:inline-block;
vertical-align:middle;
}
.table .fileRow label{
position:relative;
}
.table .fileRow span{
display:inline-block;
vertical-align:middle;
font-size:12px;
text-align:center;
background-color:#a0a0a0;
color:#fff;
}
.table .fileRow .title{
position:absolute;
left:0;
width:85px;
height:29px;
line-height:29px;
cursor:pointer;
}
.table .fileRow .icon{
width:15px;
height:15px;
line-height:15px;
}
.content > .btnList{
text-align:center;
padding-top:20px;
padding-bottom:60px;
}
.content > .btnList .btn{
display:inline-block;
vertical-align:middle;
width:120px;
margin-right:6px;
}
.content > .btnList .btn:last-child{
margin-right:0;
}
.table .contentRow td{
padding-top:11px;
padding-bottom:11px;
}
.table .contentRow textarea{
width:100%;
height:248px;
padding:10px;
}
.list .searchBox > *{
display:inline-block;
vertical-align:middle;
line-height:1
}
.list .searchBox select{
width:100px;
}
.list .searchBox label > *{
display:inline-block;
vertical-align:middle;
}
.list .searchBox input{
width:242px;
height:27px;
line-height:27px;
margin-top:0;
padding:5px;
}
.list .searchBox .btn{
height:27px;
line-height:1;
margin-left:-5px;
}
.list td{
font-size:13px;
text-align:center;
}
.list .table .bannerOrder{
font-size:13px;
text-align:center;
width:30px;
height:30px;
}
.list .table .grayBtn{
font-size:12px;
display:inline-block;
width:70px;
height:27px;
line-height:1;
box-sizing:border-box;
}

.ell{
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

/* 추가 */
.table .contentRow .note-editor td{padding:8px !important;}
.table .note-editor tr{border-bottom: 0 !important;}
.note-editable .table {border: none !important;}


#popup_all .popup_view {width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:150; background-color:rgba(0, 0, 0, 0.6); overflow:hidden; overflow-y:scroll;}
#popup_all .popup_view .inner_box {width:1200px; padding:60px 100px; margin:250px auto; background-color:#fff; z-index:10; position:relative; box-sizing:border-box;}
#popup_all .popup_view .cont .name {margin-bottom:10px; font-size:34px; font-weight:900; line-height:50px;}
#popup_all .popup_view .cont .date {font-size:22px; color:#777; border-bottom:solid 1px #d3d3d3; padding-bottom:25px; margin-bottom:25px;}
#popup_all .popup_view .cont .file_list {margin-bottom:20px;}
#popup_all .popup_view .cont .file_list ul {width:1005px; overflow:hidden;}
#popup_all .popup_view .cont .file_list ul li {float:left; margin:0 5px 5px 0;}
#popup_all .popup_view .cont .file_list ul li a {display:block; width:194px; height:48px; line-height:50px; color:#00a0e0; font-size:16px; border:solid 1px #d3d3d3; background:url(../../images/common/ico_05.png) 15px center no-repeat; background-size:13px auto; position:relative;}
#popup_all .popup_view .cont .file_list ul li a strong {display:block; padding:0 40px 0 35px; text-align:right; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-weight:400;}
#popup_all .popup_view .cont .file_list ul li a strong span.extension {position:absolute; right:15px; top:0px;}
#popup_all .popup_view .cont .img {margin-bottom:50px;}
#popup_all .popup_view .cont .img img {width:100%;}
#popup_all .popup_view .cont .txt {margin-bottom:50px; font-size:22px; line-height:36px;}
#popup_all .popup_view .cont .txt strong {font-weight:900;}
#popup_all .popup_view .control {overflow:hidden;}
#popup_all .popup_view .control .tit {margin-bottom:40px; padding-top:15px; font-size:20px; font-weight:900;}
#popup_all .popup_view .control a {display:block;}
#popup_all .popup_view .control a span {display:block;}
#popup_all .popup_view .control a span.img {margin-bottom:20px;}
#popup_all .popup_view .control a span.img img {width:100%;}
#popup_all .popup_view .control a span.name {margin-bottom:5px; font-size:20px; line-height:28px; font-weight:900;}
#popup_all .popup_view .control a span.date {font-size:14px; color:#acacac;}
#popup_all .popup_view .control > div {width:380px;}
#popup_all .popup_view .control > div:nth-child(1) {float:left;}
#popup_all .popup_view .control > div:nth-child(2) {float:right;}
#popup_all .popup_view .control > div:nth-child(1) .tit {color:#fa7921; border-top:solid 3px #fa7921;}
#popup_all .popup_view .control > div:nth-child(2) .tit {color:#03b5aa; border-top:solid 3px #03b5aa; text-align:right;}
#popup_all .popup_view .btn_close {display:block; width:64px; height:64px; position:absolute; right:-30px; top:-30px; background:url(../../images/common/btn_close_02.png) 0 0 no-repeat;}

/* 다이얼로그 */
.dialog {display:none;font-size:12px;}
.dialog .form_area {padding-top: 10px;}
.dialog .sort_header {border:1px solid #aaa;padding:5px 0px;background-color:#f5f5f5;font-weight:bold;}
.dialog .sort_header > span {display:inline-block;text-align:center;min-width:50px;}
.dialog .sort_header > span:last-child {padding-left:10px;}
.dialog .sort_area > div {height:50px;border:1px solid #aaa;margin-top:5px;background-color:#fff;cursor:move;}
.dialog .sort_area > div.highlight {height:50px;border:1px solid #000;margin-top:5px;background-color:#d0e5f5;}
.dialog .sort_area > div > span {vertical-align:middle;display:inline-block;height:50px;line-height:50px;min-width:50px;}
.dialog .sort_area > div > span:first-child {text-align:center;color:red;font-weight:bold;}
.dialog .sort_area > div > span:last-child {padding-left: 10px;}
.dialog .sort_area img {width:50px;height:50px;}

/* 전체 height 조정 */
html, body, .main.list, .list .container, .main.list .content{height: 100%}
body{background-color: #f5f5f5}
.main.list{padding-top:0}
.list .container{margin-top: 70px;}