@import "global.css";

body {}

button {border:none; outline:none; background-color:transparent; cursor:pointer;}

/* Layout */
#wrap {min-width:1320px; overflow:hidden;}

#header {border-bottom:solid 1px #e9e9e9;}
#header .inner_box {width:1320px; height:80px; margin:0 auto; position:relative;}
#header .logo {position:absolute; left:0px; top:0px;}
#header .logo a {display:block; width:210px; height:80px; background:url(../../images/common/logo.png) 0 center no-repeat;}
#header .gnb_wrap .util_menu {position:absolute; right:0px; top:0px;}
#header .gnb_wrap .util_menu ul {overflow:hidden;}
#header .gnb_wrap .util_menu ul li {float:left;}
#header .gnb_wrap .util_menu ul li a {display:block; padding:0 14px; height:80px; line-height:80px; position:relative; font-size:12px; letter-spacing:-0.01em;}
#header .gnb_wrap .util_menu ul li.on a {font-weight:900;}
#header .gnb_wrap .util_menu ul li:first-child a:after {content:""; display:block; width:1px; height:17px; background-color:#e6e8e6; position:absolute; right:0px; top:50%; margin-top:-8px;}
#header .gnb_wrap .gnb {position:absolute; left:210px; top:0px;}
#header .gnb_wrap .gnb:after {content:""; display:block; width:1px; height:27px; background-color:#e6e8e6; position:absolute; left:0px; top:50%; margin-top:-13px;}
#header .gnb_wrap .gnb ul {overflow:hidden;}
#header .gnb_wrap .gnb ul li {float:left;}
#header .gnb_wrap .gnb ul li a {display:block; padding:0 27px; height:80px; line-height:80px; font-size:12px;  letter-spacing:-0.01em;}
#header .gnb_wrap .gnb ul li.on a span {display:inline-block; height:77px; border-bottom:solid 3px #1c1c1b; font-weight:900;}
#header .btn_menu {display:none;}
#header .btn_close {display:none;}

#footer {width:100%; border-top:solid 1px #b6b6b6; background-color:#f8f9fa;}
#footer .inner_box {width:1320px; height:264px; margin:0 auto; position:relative;}
#footer .logo_box {position:absolute; left:0px; top:55px;}
#footer .logo_box ul {overflow:hidden;}
#footer .logo_box ul li {float:left; margin-right:90px;}
#footer .logo_box ul li .logo_01 {width:265px; height:41px; background:url(../../images/common/footer_logo_01.png) 0 0 no-repeat;}
#footer .logo_box ul li .logo_02 {width:134px; height:47px; background:url(../../images/common/footer_logo_02.png) 0 0 no-repeat;}
#footer .address {font-size:15px; position:absolute; left:0px; top:165px;}
#footer .contact {font-size:15px; position:absolute; left:0px; top:190px; letter-spacing:-0.035em;}
#footer .contact span {display:inline-block;}
#footer .contact span.mail {margin-right:10px;}
#footer .contact span.tel {padding-left:12px; position:relative;}
#footer .contact span.tel:after {content:""; display:block; width:3px; height:3px; background-color:#00a0e0; position:absolute; left:0px; top:50%; margin-top:-3px;}
#footer .copyright {font-size:12px; position:absolute; right:0px; top:190px; letter-spacing:0.09em;}
#footer select {position:relative; display:inline-block; width:auto; min-width:150px; height:48px; font-size:14px; padding-left:15px; padding-right:30px; border:solid 1px #1c1c1b; -webkit-appearance:none; -moz-appearance:none; appearance:none;	background:url(../../images/common/ico_select_01.png) right center no-repeat; font-weight:900; position:absolute; right:0px; top:51px;}
#footer select::-ms-expand {display:none;}

#contents .inner_box {width:1320px; margin:0 auto; position:relative;}

#popup_all .popup_view {width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:150; background-color:rgba(0, 0, 0, 0.6); overflow:hidden; overflow-y:scroll;}
#popup_all .popup_view .inner_box {width:1200px; padding:60px 100px; margin:250px auto; background-color:#fff; z-index:10; position:relative; box-sizing:border-box; word-break:break-all;}
#popup_all .popup_view .cont .name {margin-bottom:10px; font-size:34px; font-weight:900; line-height:50px;}
#popup_all .popup_view .cont .date {font-size:22px; color:#777; border-bottom:solid 1px #d3d3d3; padding-bottom:25px; margin-bottom:25px;}
#popup_all .popup_view .cont .file_list {margin-bottom:20px;}
#popup_all .popup_view .cont .file_list ul {width:1005px; overflow:hidden;}
#popup_all .popup_view .cont .file_list ul li {float:left; margin:0 5px 5px 0;}
#popup_all .popup_view .cont .file_list ul li a {display:block; width:194px; height:48px; line-height:50px; color:#00a0e0; font-size:16px; border:solid 1px #d3d3d3; background:url(../../images/common/ico_05.png) 15px center no-repeat; background-size:13px auto; position:relative;}
#popup_all .popup_view .cont .file_list ul li a strong {display:block; padding:0 40px 0 35px; text-align:right; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-weight:400;}
#popup_all .popup_view .cont .file_list ul li a strong span.extension {position:absolute; right:15px; top:0px;}
#popup_all .popup_view .cont .img {margin-bottom:50px;}
#popup_all .popup_view .cont .img img {width:100%;}
#popup_all .popup_view .cont .txt {margin-bottom:50px; font-size:22px; line-height:36px;}
#popup_all .popup_view .cont .txt strong {font-weight:900;}
#popup_all .popup_view .control {overflow:hidden;}
#popup_all .popup_view .control .tit {margin-bottom:40px; padding-top:15px; font-size:20px; font-weight:900;}
#popup_all .popup_view .control a {display:block;}
#popup_all .popup_view .control a span {display:block;}
#popup_all .popup_view .control a span.img {margin-bottom:20px;}
#popup_all .popup_view .control a span.img img {width:100%;}
#popup_all .popup_view .control a span.name {margin-bottom:5px; font-size:20px; line-height:28px; font-weight:900;}
#popup_all .popup_view .control a span.date {font-size:14px; color:#acacac;}
#popup_all .popup_view .control > div {width:380px;}
#popup_all .popup_view .control > div:nth-child(1) {float:left;}
#popup_all .popup_view .control > div:nth-child(2) {float:right;}
#popup_all .popup_view .control > div:nth-child(1) .tit {color:#fa7921; border-top:solid 3px #fa7921;}
#popup_all .popup_view .control > div:nth-child(2) .tit {color:#03b5aa; border-top:solid 3px #03b5aa; text-align:right;}
#popup_all .popup_view .btn_close {display:block; width:64px; height:64px; position:absolute; right:-30px; top:-30px; background:url(../../images/common/btn_close_02.png) 0 0 no-repeat;}

/* Main */
#main_contents .inner_box {width:1320px; margin:0 auto;}
#main_contents .section_01 {padding:100px 0; position:relative;}
#main_contents .section_01 .title {margin-bottom:30px; font-size:46px; line-height:64px; letter-spacing:-0.01em; font-weight:400;}
#main_contents .section_01 .title strong {font-weight:900; transition:all 0.3s; position:relative;}
#main_contents .section_01 .title strong:after {content:""; display:block; width:0; height:100%; position:absolute; left:0px; bottom:0px; background: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300a0e0' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E") 0 100% repeat-x; background-size: auto 7px; transition:all 0.3s;}
#main_contents .section_01 .title strong:hover {color:#00a0e0;}
#main_contents .section_01 .title strong:hover:after {width:100%;}
#main_contents .section_01 .txt {font-size:26px; letter-spacing:-0.01em;}
#main_contents .section_01 .character {}
#main_contents .section_01 .character span {display:block; width:124px; height:178px; background:url(../../images/main/character.png) 0 0 no-repeat; position:absolute; bottom:125px; right:-1000px;}
#main_contents .section_01 .character span.c_01 {background-position:0 0; animation:character_ani_01 .4s ease-out forwards;}
#main_contents .section_01 .character span.c_02 {background-position:-165px 0; animation:character_ani_02 .4s .1s ease-out forwards;}
#main_contents .section_01 .character span.c_03 {background-position:-313px 0; animation:character_ani_03 .3s .2s ease-out forwards;}
#main_contents .section_01 .character span.c_04 {background-position:-450px 0; animation:character_ani_04 .2s .3s ease-out forwards;}
#main_contents .section_02 {margin-bottom:125px;}
#main_contents .section_02 .title {margin-bottom:60px; font-size:18px; font-weight:400; letter-spacing:0.25em;}
#main_contents .section_02 .list ul:after {content:""; display:block; clear:both;}
#main_contents .section_02 .list ul li {float:left; margin-left:20px;}
#main_contents .section_02 .list ul li:first-child {margin-left:0px;}
#main_contents .section_02 .list ul li:nth-child(odd) {margin-top:25px;}
#main_contents .section_02 .list ul li a {display:block;}
#main_contents .section_02 .list ul li a span {display:block;}
#main_contents .section_02 .list ul li a span.img {width:315px; height:267px; margin-bottom:25px;}
#main_contents .section_02 .list ul li a span.img img {transition:all 0.3s;}
#main_contents .section_02 .list ul li a:hover span.img img {transform:scale(1.05);}
#main_contents .section_02 .list ul li a span.tit {margin-bottom:10px; font-size:20px; line-height:28px; font-weight:900;}
#main_contents .section_02 .list ul li a span.date {font-size:14px; color:#a3a3a3;}
#main_contents .section_03 {margin-bottom:45px;}
#main_contents .section_03 .title {margin-bottom:75px; font-size:18px; font-weight:400; letter-spacing:0.25em;}
#main_contents .section_03 .list ul {width:1340px;}
#main_contents .section_03 .list ul:after {content:""; display:block; clear:both;}
#main_contents .section_03 .list ul li {width:650px; float:left; margin-right:20px; margin-bottom:65px;}
#main_contents .section_03 .list ul li:nth-child(even) {margin-top:35px;}
#main_contents .section_03 .list ul li .tit {margin-bottom:20px; font-size:36px; font-weight:900; word-break:break-all;}
#main_contents .section_03 .list ul li .tit .no {display:inline-block; width:37px; height:37px; line-height:38px; text-align:center; color:#fff; font-size:24px; margin-left:10px; position:relative; top:-6px;}
#main_contents .section_03 .list ul li .tit .no.blue {background-color:#00a0e0;}
#main_contents .section_03 .list ul li .tit .no.mint {background-color:#03b5aa;}
#main_contents .section_03 .list ul li .tit .no.lime {background-color:#c2d502;}
#main_contents .section_03 .list ul li .tit .no.orange {background-color:#fa7921;}
#main_contents .section_03 .list ul li .txt {margin-bottom:30px; font-size:20px; line-height:36px;}
#main_contents .section_03 .list ul li .img {display:block; margin-bottom:30px;}
#main_contents .section_03 .list ul li .btn_more {display:block; width:150px; height:48px; line-height:50px; border:solid 1px #1c1c1b; text-align:center; font-size:14px;}
#main_contents .section_03 .list ul li .btn_more span {display:inline-block; padding-right:40px; background:url(../../images/common/ico_01.png) right center no-repeat;}
@keyframes character_ani_01 {
	from {right:-1000px;}
	to {right:450px;}
}
@keyframes character_ani_02 {
	from {right:-1000px;}
	to {right:285px;}
}
@keyframes character_ani_03 {
	from {right:-1000px;}
	to {right:137px;}
}
@keyframes character_ani_04 {
	from {right:-1000px;}
	to {right:0px;}
}


/* Sub */
.sub_about .navi {display:inline-block; padding:10px 0; border-radius:5px; background-color:#f8f9fa; position:absolute; right:0px; top:80px; box-shadow:4px 4px 11px rgba(0, 0, 0, 0.1); z-index:1;}
.sub_about .navi.on {position:fixed; top:0px;}
.sub_about .navi ul {overflow:hidden;}
.sub_about .navi ul li {float:left; padding:0 10px; position:relative;}
.sub_about .navi ul li:after {content:""; display:block; width:5px; height:8px; position:absolute; left:0px; top:50%; margin-top:-4px; background:url(../../images/common/ico_02.png) 0 0 no-repeat;}
.sub_about .navi ul li:first-child:after {display:none;}
.sub_about .navi ul li button {display:block; padding:10px; border-radius:5px; font-size:12px;}
.sub_about .navi ul li.on button {padding:8px 10px; background-color:#c2d502; font-weight:900;}
.sub_about .section_01 {padding:100px 0 140px; position:relative;}
.sub_about .section_01:after {content:""; display:block; width:745px; height:729px; position:absolute; right:-240px; top:475px; background:url(../../images/sub/about_01.png) 0 0 no-repeat;}
.sub_about .section_01 .title {margin-bottom:60px; font-size:14px; font-weight:400; letter-spacing:0.25em;}
.sub_about .section_01 .tit {margin-bottom:60px; font-size:54px; line-height:72px;}
.sub_about .section_01 .tit strong {display:inline-block; line-height:54px; font-weight:900; border-bottom:solid 1px #1c1c1b;}
.sub_about .section_01 .txt {font-size:22px; line-height:36px;}
.sub_about .section_02 .title {margin-bottom:70px; font-size:14px; font-weight:400; letter-spacing:0.25em;}
.sub_about .section_02 .period {margin-bottom:60px; font-size:36px; font-weight:900;}
.sub_about .section_02 .list {margin-bottom:70px; position:relative;}
.sub_about .section_02 .img_02:after,
.sub_about .section_02 .img_03:after,
.sub_about .section_02 .img_04:after {content:""; display:block; position:absolute;}
.sub_about .section_02 .img_02:after {width:743px; height:636px; right:-300px; top:110px; background:url(../../images/sub/about_02.png) 0 0 no-repeat;}
.sub_about .section_02 .img_03:after {width:711px; height:638px; right:-334px; top:-230px; background:url(../../images/sub/about_03.png) 0 0 no-repeat;}
.sub_about .section_02 .img_04:after {width:651px; height:636px; right:-300px; top:-280px; background:url(../../images/sub/about_04.png) 0 0 no-repeat;}
.sub_about .section_02 .list ul li .date {margin-bottom:10px; font-size:20px; font-weight:900;}
.sub_about .section_02 .list ul li ul li {margin-bottom:40px; font-size:20px; line-height:30px;}
.sub_about .section_03 {min-height:510px; padding-top:20px; margin-bottom:110px; position:relative; box-sizing:border-box;}
.sub_about .section_03 .title {margin-bottom:35px; font-size:14px; font-weight:400; letter-spacing:0.25em;}
.sub_about .section_03 .name {margin-bottom:90px; font-size:36px; font-weight:900;}
.sub_about .section_03 .info ul li {margin-bottom:45px;}
.sub_about .section_03 .info ul li .tit {margin-bottom:15px; font-size:20px; font-weight:900;}
.sub_about .section_03 .info ul li .txt {font-size:20px; line-height:28px;}
.sub_about .section_03 .info ul li .mail {font-size:20px; color:#00a0e0;}
.sub_about .section_03 .map {width:820px; height:510px; overflow:hidden; position:absolute; right:0px; top:0px;}

.sub_business .section_01 {padding:100px 0;}
.sub_business .section_01 .title {display:inline-block; padding:0 100px 0 0; font-size:36px; position:relative;}
.sub_business .section_01 .title strong {font-weight:900;}
.sub_business .section_01 .title:after {content:""; display:block; width:70px; height:96px; position:absolute; right:0px; top:50%; margin-top:-48px; background:url(../../images/sub/business_ico_01.png) 0 0 no-repeat;}
.sub_business .section_02 {margin-bottom:110px; position:relative; padding-left:206px;}
.sub_business .section_02 .aside {position:absolute; left:0px; top:0px;}
.sub_business .section_02 .aside .tit {margin-bottom:30px; font-size:14px; letter-spacing:0.25em;}
.sub_business .section_02 .aside .select_box .btn_select {display:none;}
.sub_business .section_02 .aside .select_box .select li {margin-bottom:10px;}
.sub_business .section_02 .aside .select_box .select li a {display:inline-block; height:38px; line-height:40px; padding:0 10px;  border:solid 1px #1c1c1b; font-weight:900; font-size:14px;}
.sub_business .section_02 .aside .select_box .select li.on a {background-color:#1c1c1b; color:#fff;}
.sub_business .section_02 .aside .select_box .select li a .count {display:inline-block; font-size:16px; margin-left:40px;}
.sub_business .section_02 .cont ul li {height:450px; margin-bottom:40px; padding-left:570px; position:relative;}
.sub_business .section_02 .cont ul li .img_box {position:absolute; left:0px; top:0px;}
.sub_business .section_02 .cont ul li .img_box .img {width:530px; height:450px; overflow:hidden;}
.sub_business .section_02 .cont ul li .img_box .label {display:inline-block; padding:12px 15px 8px; position:absolute; left:0px; top:0px; color:#fff; font-size:18px; font-weight:900;}
.sub_business .section_02 .cont ul li .img_box .label.blue {background-color:#00a0e0;}
.sub_business .section_02 .cont ul li .img_box .label.mint {background-color:#03b5aa;}
.sub_business .section_02 .cont ul li .img_box .label.lime {background-color:#c2d502;}
.sub_business .section_02 .cont ul li .img_box .label.orange {background-color:#fa7921;}
.sub_business .section_02 .cont ul li .txt_box {height:450px; padding-top:10px; position:relative; box-sizing:border-box;}
.sub_business .section_02 .cont ul li .txt_box .tit {margin-bottom:35px; font-size:28px; font-weight:900;}
.sub_business .section_02 .cont ul li .txt_box .txt {font-size:18px; line-height:36px;}
.sub_business .section_02 .cont ul li .txt_box .btn_more {display:block; width:150px; height:48px; line-height:50px; border:solid 1px #1c1c1b; text-align:center; font-size:14px; position:absolute; left:0px; bottom:0px;}
.sub_business .section_02 .cont ul li .txt_box .btn_more span {display:inline-block; padding-right:69px; background:url(../../images/common/ico_01.png) right center no-repeat;}

.sub_news .inner_box {padding:100px 0 110px;}
.sub_news .tab_box {margin-bottom:45px; overflow:hidden;}
.sub_news .tab_box a {display:inline-block; font-size:28px; float:left; margin-right:74px;}
.sub_news .tab_box a span {display:inline-block; padding-bottom:10px;}
.sub_news .tab_box a .count {display:inline-block; width:45px; padding:10px 0 2px; margin-left:10px; color:#fff; text-align:center; font-weight:900;}
.sub_news .tab_box a:nth-child(1) .count {background-color:#fa7921;}
.sub_news .tab_box a:nth-child(2) .count {background-color:#03b5aa;}
.sub_news .tab_box a.on:nth-child(1) span {font-weight:900; border-bottom:solid 4px #fa7921;}
.sub_news .tab_box a.on:nth-child(2) span {font-weight:900; border-bottom:solid 4px #03b5aa;}
.sub_news .story_list {margin-bottom:50px;}
.sub_news .story_list ul {width:1340px; overflow:hidden;}
.sub_news .story_list ul li {width:315px; margin:0 0 80px 20px; float:left;}
.sub_news .story_list ul li:nth-child(odd) {position:relative; top:57px;}
.sub_news .story_list ul li a {display:block;}
.sub_news .story_list ul li a span {display:block;}
.sub_news .story_list ul li a span.img {margin-bottom:20px;}
.sub_news .story_list ul li a span.tit {margin-bottom:10px; font-size:20px; line-height:28px; font-weight:900;}
.sub_news .story_list ul li a span.date {font-size:16px; color:#a3a3a3;}
.sub_news .btn_more {text-align:center;}
.sub_news .btn_more button {display:inline-block; width:200px; height:64px; line-height:64px; color:#fff; font-weight:900; font-size:20px; background-color:#1c1c1b;}

.sub_news .notice_list {margin-bottom:50px;}
.sub_news .notice_list ul li {padding:30px 0; border-bottom:solid 1px #cecece; position:relative;}
.sub_news .notice_list ul li a {display:inline-block;}
.sub_news .notice_list ul li a span.name {font-size:24px; font-weight:900;}
.sub_news .notice_list ul li span.date {font-size:20px; color:#a3a3a3; position:absolute; right:0px; top:34px;}


@media screen and (max-width: 750px) {
	/* Layout */
	#wrap {min-width:100%;}

	#header {position:relative; z-index:2;}
	#header:after {content:""; display:none; width:100%; height:100%; position:fixed; left:0px; top:0px; background-color:rgba(0, 0, 0, 0.6); transition:all 0.3s;}
	#header.open:after {display:block;}
	#header .inner_box {width:100%; height:50px;}
	#header .logo {left:15px;}
	#header .logo a {display:block; width:130px; height:50px; background-size:130px auto;}
	#header .gnb_wrap {width:90%; height:100%; background-color:#fff; position:fixed; right:-100%; top:0px; z-index:100;  transition:all 0.3s;}
	#header.open .gnb_wrap {right:0px;}
	#header .gnb_wrap .util_menu {left:15px; right:auto;}
	#header .gnb_wrap .util_menu ul li a {padding:0 10px; height:50px; line-height:50px;}
	#header .gnb_wrap .util_menu ul li:first-child a:after {height:10px; margin-top:-5px;}
	#header .gnb_wrap .gnb {left:0; top:65px;}
	#header .gnb_wrap .gnb:after {display:none;}
	#header .gnb_wrap .gnb ul li {width:100%;}
	#header .gnb_wrap .gnb ul li a {padding:0 25px; height:70px; line-height:70px; font-size:25px;  letter-spacing:0em;}
	#header .gnb_wrap .gnb ul li.on a span {height:50px; border-bottom:solid 2px #1c1c1b;}
	#header .btn_menu {display:block; width:50px; height:50px; position:absolute; right:0px; top:0px; text-align:center;}
	#header .btn_menu > span,
	#header .btn_menu > span:after,
	#header .btn_menu > span:before {display:inline-block; width:26px; height:2px; border-radius:2px; background-color:#1c1c1b; position:absolute;}
	#header .btn_menu > span {top:50%; left:50%; margin:-1px 0 0 -13px;}
	#header .btn_menu > span:after {content:""; left:0px; top:-7px;}
	#header .btn_menu > span:before {content:""; left:0px; top:7px;}
	#header .btn_close {display:block; width:50px; height:50px; background:url(../../images/common/btn_close_01.png) center center no-repeat; position:absolute; right:0px; top:0px; background-size:18px 18px;}

	#footer {width:100%;}
	#footer .inner_box {width:100%; padding:35px 15px; height:auto; margin:0 auto; position:relative; box-sizing:border-box;}
	#footer .logo_box {margin:0 0 25px 10px; display:inline-block; position:static;}
	#footer .logo_box ul li {margin-right:18px;}
	#footer .logo_box ul li .logo_01 {width:154px; height:27px; background-size:154px 27px;}
	#footer .logo_box ul li .logo_02 {width:88px; height:32px; background-size:88px 32px;}
	#footer .address {margin-bottom:15px; font-size:12px; line-height:18px; position:static;}
	#footer .contact {font-size:15px; position:static;}
	#footer .contact span {display:block; margin-bottom:15px; font-size:12px;}
	#footer .contact span.tel {padding-left:0;}
	#footer .contact span.tel:after {display:none;}
	#footer .copyright {font-size:10px; position:static;}
	#footer select {margin-bottom:25px; display:block; width:100%; height:38px; font-size:11px; background-size:20px auto; position:static;}

	#contents .inner_box {width:100%;}

	#popup_all .popup_view {padding:0 15px; box-sizing:border-box;}
	#popup_all .popup_view .inner_box {width:100%; padding:25px 15px 40px; margin:100px auto;}
	#popup_all .popup_view .cont img {max-width:260px;}
	#popup_all .popup_view .cont .name {padding:0 10px; margin-bottom:10px; font-size:17px; line-height:25px;}
	#popup_all .popup_view .cont .date {padding:0 10px; font-size:13px; padding-bottom:12px; margin-bottom:12px;}
	#popup_all .popup_view .cont .file_list {margin-bottom:10px;}
	#popup_all .popup_view .cont .file_list ul {width:100%;}
	#popup_all .popup_view .cont .file_list ul li {width:50%; margin:0 0 3px 0; padding:0 2px; box-sizing:border-box;}
	#popup_all .popup_view .cont .file_list ul li a {width:100%; height:26px; line-height:26px; font-size:12px; background-position:10px center; background-size:10px auto;}
	#popup_all .popup_view .cont .file_list ul li a strong {padding:0 30px 0 25px;}
	#popup_all .popup_view .cont .file_list ul li a strong span.extension {right:10px;}
	#popup_all .popup_view .cont .img {margin-bottom:20px;}
	#popup_all .popup_view .cont .txt {padding:0 10px; margin-bottom:25px; font-size:12px; line-height:19px;}
	#popup_all .popup_view .control {padding:0 10px;}
	#popup_all .popup_view .control .tit {margin-bottom:15px; padding-top:7px; font-size:12px;}
	#popup_all .popup_view .control a span.img {display:none;}
	#popup_all .popup_view .control a span.name {height:56px; overflow:hidden; margin-bottom:5px; font-size:12px; line-height:19px;}
	#popup_all .popup_view .control a span.date {font-size:12px;}
	#popup_all .popup_view .control > div {width:40%;}
	#popup_all .popup_view .control > div:nth-child(1) .tit {border-top:solid 2px #fa7921;}
	#popup_all .popup_view .control > div:nth-child(2) .tit {border-top:solid 2px #03b5aa;}
	#popup_all .popup_view .btn_close {width:32px; height:32px; right:-10px; top:-10px; background-size:32px 32px;}

	/* Main */
	#main_contents .inner_box {width:100%;}
	#main_contents .section_01 {padding:35px 15px 45px;}
	#main_contents .section_01 .title {margin-bottom:10px; font-size:26px; line-height:38px; letter-spacing:-0.025em;}
	#main_contents .section_01 .title br {display:none;}
	#main_contents .section_01 .title strong:after {display:none;}
	#main_contents .section_01 .title strong:hover {color:#1c1c1b;}
	#main_contents .section_01 .txt {margin-bottom:20px; font-size:15px;}
	#main_contents .section_01 .character {width:290px; height:89px; margin:0 auto; position:relative;}
	#main_contents .section_01 .character span {width:62px; height:89px; background-size:287px auto; bottom:0;}
	#main_contents .section_01 .character span.c_01 {background-position:0 0; animation:character_ani_01_m .4s ease-out forwards;}
	#main_contents .section_01 .character span.c_02 {background-position:-82px 0; animation:character_ani_02_m .4s .1s ease-out forwards;}
	#main_contents .section_01 .character span.c_03 {background-position:-156px 0; animation:character_ani_03_m .3s .2s ease-out forwards;}
	#main_contents .section_01 .character span.c_04 {background-position:-225px 0; animation:character_ani_04_m .2s .3s ease-out forwards;}
	#main_contents .section_02 {margin-bottom:50px;}
	#main_contents .section_02 .title {padding:0 15px; margin-bottom:25px; font-size:12px;}
	#main_contents .section_02 .list {margin-left:15px;}
	#main_contents .section_02 .list ul li {width:50%; margin-left:0; margin-bottom:25px;}
	#main_contents .section_02 .list ul li:nth-child(odd) {margin-top:0;}
	#main_contents .section_02 .list ul li a {padding-right:15px;}
	#main_contents .section_02 .list ul li a span.img {width:100%; height:auto; margin-bottom:10px;}
	#main_contents .section_02 .list ul li a span.img img {width:100%;}
	#main_contents .section_02 .list ul li a:hover span.img img {transform:scale(1);}
	#main_contents .section_02 .list ul li a span.tit {margin-bottom:5px; font-size:13px; line-height:19px;}
	#main_contents .section_02 .list ul li a span.date {font-size:12px;}
	#main_contents .section_03 {margin-bottom:20px;}
	#main_contents .section_03 .title {padding:0 15px; margin-bottom:25px; font-size:12px;}
	#main_contents .section_03 .list ul {width:100%;}
	#main_contents .section_03 .list ul li {width:100%; margin-right:0; margin-bottom:40px;}
	#main_contents .section_03 .list ul li:nth-child(even) {margin-top:0;}
	#main_contents .section_03 .list ul li .tit {padding:0 15px; margin-bottom:10px; font-size:25px;}
	#main_contents .section_03 .list ul li .tit .no {width:30px; height:30px; line-height:31px; font-size:18px; margin-left:5px; top:-3px;}
	#main_contents .section_03 .list ul li .txt {padding:0 15px; margin-bottom:15px; font-size:12px; line-height:18px;}
	#main_contents .section_03 .list ul li .img {margin-bottom:15px;}
	#main_contents .section_03 .list ul li .img img {width:100%;}
	#main_contents .section_03 .list ul li .btn_more {margin-left:15px; width:125px; height:40px; line-height:42px; font-size:12px;}
	#main_contents .section_03 .list ul li .btn_more span {padding-right:23px; background-size:12px auto;}
	@keyframes character_ani_01_m {
		from {right:-1000px;}
		to {right:220px;}
	}
	@keyframes character_ani_02_m {
		from {right:-1000px;}
		to {right:142px;}
	}
	@keyframes character_ani_03_m {
		from {right:-1000px;}
		to {right:69px;}
	}
	@keyframes character_ani_04_m {
		from {right:-1000px;}
		to {right:0px;}
	}

	/* Sub */
	.sub_about .navi {border-radius:3px; right:15px; top:20px;}
	.sub_about .section_01 {padding:100px 15px 430px;}
	.sub_about .section_01:after {width:399px; height:390px; position:absolute; right:-165px; top:auto; bottom:0; background-size:399px 390px;}
	.sub_about .section_01 .title {margin-bottom:30px; font-size:12px;}
	.sub_about .section_01 .tit {margin-bottom:30px; font-size:29px; line-height:42px;}
	.sub_about .section_01 .tit strong {line-height:29px;}
	.sub_about .section_01 .tit br {display:none;}
	.sub_about .section_01 .txt {font-size:14px; line-height:24px;}
	.sub_about .section_01 .txt br {display:none;}
	.sub_about .section_02 {padding:0 15px; margin-bottom:70px;}
	.sub_about .section_02 .title {margin-bottom:35px; font-size:12px;}
	.sub_about .section_02 .period {margin-bottom:30px; font-size:18px;}
	.sub_about .section_02 .list {margin-bottom:25px;}
	.sub_about .section_02 .img_02 {padding-bottom:340px;}
	.sub_about .section_02 .img_03 {padding-bottom:250px;}
	.sub_about .section_02 .img_04 {padding-bottom:300px;}
	.sub_about .section_02 .img_02:after {width:398px; height:340px; right:-15px; top:auto; bottom:0; background-size:398px 340px;}
	.sub_about .section_02 .img_03:after {width:399px; height:342px; right:-169px; top:auto; bottom:0; background-size:399px 342px;}
	.sub_about .section_02 .img_04:after {width:398px; height:340px; right:-15px; top:auto; bottom:0; background-size:398px 340px;}
	.sub_about .section_02 .list ul li .date {font-size:12px;}
	.sub_about .section_02 .list ul li ul li {margin-bottom:20px; font-size:12px; line-height:18px;}
	.sub_about .section_02 .list ul li ul li br {display:none;}
	.sub_about .section_03 {min-height:auto; padding-top:0; margin-bottom:55px;}
	.sub_about .section_03 .title {padding:0 15px; margin-bottom:25px; font-size:12px;}
	.sub_about .section_03 .map {margin-bottom:25px; width:100%; height:255px; position:static;}
	.sub_about .section_03 .name {padding:0 15px; margin-bottom:20px; font-size:20px;}
	.sub_about .section_03 .info {padding:0 15px;}
	.sub_about .section_03 .info ul li {margin-bottom:20px;}
	.sub_about .section_03 .info ul li .tit {margin-bottom:8px; font-size:12px;}
	.sub_about .section_03 .info ul li .txt {font-size:12px; line-height:18px;}
	.sub_about .section_03 .info ul li .mail {font-size:12px;}

	.sub_business .section_01 {padding:35px 0; text-align:center;}
	.sub_business .section_01 .title {display:inline-block; padding:0 50px 0 0; font-size:15px;}
	.sub_business .section_01 .title:after {width:35px; height:48px; margin-top:-24px; background-size:35px 48px;}
	.sub_business .section_02 {margin-bottom:55px; padding-left:0;}
	.sub_business .section_02 .aside {position:static; margin-bottom:20px; padding:0 15px;}
	.sub_business .section_02 .aside .tit {display:none;}
	.sub_business .section_02 .aside .select_box {position:relative;}
	.sub_business .section_02 .aside .select_box .btn_select {display:block; width:100%; padding:0 10px; height:30px; line-height:30px; margin-bottom:10px; font-weight:900; background-color:#1c1c1b; color:#fff; font-size:12px; box-sizing:border-box; text-align:left; position:relative;}
	.sub_business .section_02 .aside .select_box .btn_select .count {display:inline-block; font-size:14px; padding-right:25px; position:absolute; right:10px; top:0px; background:url(../../images/common/ico_03.png) right center no-repeat; background-size:11px auto;}
	.sub_business .section_02 .aside .select_box .select {display:none; width:100%; border:solid 1px #1c1c1b; position:absolute; left:0px; top:0px; z-index:1; background-color:#fff;}
	.sub_business .section_02 .aside .select_box .select.open {display:block;}
	.sub_business .section_02 .aside .select_box .select li {margin-bottom:0px;}
	.sub_business .section_02 .aside .select_box .select li a {width:100%; height:auto; line-height:1; padding:10px;  border:none; font-size:12px; box-sizing:border-box; overflow:hidden;}
	.sub_business .section_02 .aside .select_box .select li.on a {background-color:transparent; color:#1c1c1b;}
	.sub_business .section_02 .aside .select_box .select li a .count {padding-right:25px; font-size:14px; margin-left:0; float:right; }
	.sub_business .section_02 .aside .select_box .select li:first-child a .count {background:url(../../images/common/ico_04.png) right center no-repeat; background-size:11px auto;}
	.sub_business .section_02 .cont ul li {height:auto; margin-bottom:35px; padding-left:0;}
	.sub_business .section_02 .cont ul li .img_box {position:relative;}
	.sub_business .section_02 .cont ul li .img_box .img {width:100%; height:auto;}
	.sub_business .section_02 .cont ul li .img_box .img img {width:100%;}
	.sub_business .section_02 .cont ul li .img_box .label {padding:12px 8px 8px; font-size:14px;}
	.sub_business .section_02 .cont ul li .txt_box {height:auto; padding:20px 15px 0;}
	.sub_business .section_02 .cont ul li .txt_box .tit {margin-bottom:10px; font-size:17px;}
	.sub_business .section_02 .cont ul li .txt_box .txt {margin-bottom:20px; font-size:12px; line-height:18px;}
	.sub_business .section_02 .cont ul li .txt_box .btn_more {width:125px; height:38px; line-height:40px; font-size:12px; position:static;}
	.sub_business .section_02 .cont ul li .txt_box .btn_more span {padding-right:55px; background-size:12px 9px;}

	.sub_news .inner_box {padding:35px 0 50px;}
	.sub_news .tab_box {padding:0 15px; margin-bottom:20px;}
	.sub_news .tab_box a {font-size:14px; margin-right:38px;}
	.sub_news .tab_box a span {padding-bottom:5px;}
	.sub_news .tab_box a .count {width:22px; padding:4px 0 2px; margin-left:5px; font-size:12px;}
	.sub_news .tab_box a.on:nth-child(1) span {border-bottom:solid 2px #fa7921;}
	.sub_news .tab_box a.on:nth-child(2) span {border-bottom:solid 2px #03b5aa;}
	.sub_news .story_list {margin-bottom:0;}
	.sub_news .story_list ul {width:100%; padding:0 10px 0 15px; box-sizing:border-box;}
	.sub_news .story_list ul li {width:50%; margin:0 0 40px 0; padding:0 5px 0 0; box-sizing:border-box;}
	.sub_news .story_list ul li:nth-child(odd) {top:10px;}
	.sub_news .story_list ul li a span.img {margin-bottom:10px;}
	.sub_news .story_list ul li a span.img img {width:100%;}
	.sub_news .story_list ul li a span.tit {margin-bottom:5px; font-size:12px; line-height:16px;}
	.sub_news .story_list ul li a span.date {font-size:12px;}
	.sub_news .btn_more button {width:100px; height:32px; line-height:32px; font-size:12px;}

	.sub_news .notice_list {margin-bottom:25px; padding:0 15px;}
	.sub_news .notice_list ul li {padding:15px 0;}
	.sub_news .notice_list ul li a {display:block; width:100%; padding-right:80px; box-sizing:border-box; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
	.sub_news .notice_list ul li a span.name {font-size:12px;}
	.sub_news .notice_list ul li span.date {font-size:12px; top:15px;}


}
