<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragement">
	<footer id="footer">
		<div class="footer_inner">
			<div class="f_logo"><span class="blind">넥슨재단</span></div>
			<p class="address">서울특별시 강남구 도산대로 313, 313빌딩 6층 (신사동 630-31)</p>
			<p class="copyright">© 2019 NEXON CORPORATION ALL RIGHTS RESERVED.</p>
			<div class="contact">
				<p>nexon@nexonfoundation.org</p>
				<p>02-512-1994</p>
			</div>
			<div class="select">
				<select name="" title="">
					<option value="" selected="selected">Family Site</option>
					<option value="">사이트</option>
					<option value="">사이트</option>
					<option value="">사이트</option>
				</select>
			</div>
		</div><!-- class : footer_inner -->
	</footer><!-- id : footer -->
</div>