<!-- START HEADER -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragement">
	<header id="header">
		<div class="inner_box">
			<h1 class="logo"><a href="/"><span class="blind">NEXON Foundation</span></a></h1>
			<a href="#self" class="btn_menu"><span><span class="blind">Menu</span></span></a>
			<nav id="gnb_wrap" class="gnb_wrap">
				<div class="util_menu">
					<ul>
						<li><a href="#self" onclick="setLang('kor')">Korean</a></li>
						<li class="on"><a href="#self" onclick="setLang('eng')">English</a></li>
					</ul>
				</div>
				<a href="#self" class="btn_close"><span class="blind">Menu Close</span></a>
				<div class="gnb">
					<ul>
						<li><a href="/page/eng/intro1"><span>About us</span></a></li>
						<li><a href="/page/eng/business1"><span>Our Projects</span></a></li>
					</ul>
				</div>
			</nav>
		</div><!-- class : inner_box -->
	</header><!-- id : header -->
</div>
<!-- END HEADER -->