/** 
 * S: header 
 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1004;
    background-color: #365ca5;
    height: 80px;
}
.header .container {
    position: relative;
}
.header h1 {
    position: absolute;
    height: 81px;
    line-height: 81px;
}
.header h1 a {
    color: #fff;
}
.header nav {
    position: absolute;
    left: 220px;
    width: 740px;
    height: 80px;
    line-height: 80px;
}
.header nav ul {
    text-align: center;
}
.header nav li {
    display: inline-block;
    width: 17%;
    transition: all .3s ease;
}
.header nav a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-bottom: 7px;
    transition: all .3s ease;
}
.header nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    height: 1px;
    background-color: #fff;
    transition: all .3s ease;
}
.header nav a:hover:after {
    position: absolute;
    left: 0;
    width: 100%;
}
.header nav a.on {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.header nav a.on:after {
    height: 0;
}
.header nav a {
    color: #fff;
}
.header .utilLog {
    height: 80px;
    line-height: 80px;
}
.header .utilLog li {
    display: inline-block;
    color: #fff;
    margin-left: 11px;
}
.header .utilLog li:first-child {
    margin-left: 0;
}
.header .utilLog .whiteBtn {
    width: 80px;
    height: 30px;
    line-height: 16px;
}
/* E: header */