.leftSide {
    display: inline-block;
    vertical-align: top;
    padding-top: 70px;
}
.leftSide .snb {
    width: 180px;
}
.leftSide h2 {
    font-size: 20px;
    padding-bottom: 50px;
}
.snb ul {
    padding-left: 12px;
    padding-right: 12px;
}
.snb .bigMenu > li {
    transition: all .3s ease;
}
.snb .bigMenu > li.on {
    padding-bottom: 40px;
}
.snb .bigMenu > li > a {
    position: relative;
    font-weight: bold;
    padding-bottom: 10px;
}
.snb .bigMenu > li > a {
    display: block;
    padding-right: 10px;
}
.snb .bigMenu > li > a:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -12px;
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #333;
}
.snb .midMenu {
    display: none;
}
.snb .midMenu a {
    font-size: 14px;
    color: #999;
}
.snb .bigMenu .on > a {
    color: #365ca5;
}
.snb .bigMenu .on .midMenu a.on {
    color: #365ca5;
    border-bottom: 1px solid #365ca5;
}
.snb .bigMenu a span {
    display: inline-block;
    vertical-align: middle;
}
.snb .bigMenu a span:first-child {
    padding-right: 5px;
}
.snb .bigMenu a .icon  {
    transition: all .3s ease;
    transform: rotate(0deg) translateY(-3px)
}
.snb .bigMenu .on .icon {
    transform: rotate(540deg) translateY(-6px);
}